[2022-04-01 03:16] samreid opened #1 "Mean: Share and Balance Main Checklist"
# Mean: Share and Balance main checklist

## Design
- [x] **Sim folder and design doc created** (Date: //)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Review user feedback**
   ~- [ ] *If a Port:* [Google Form suggestions reviewed](https://docs.g

[2022-04-01 03:18] samreid opened #2 "Initial setup"
Commits as part of running through the new sim checklist https://github.com/phetsims/phet-info/blob/05c54e5d7d2f1c99320d8f9e169f83ec5bb427e0/checklists/new_repo_checklist.md

# New Repository Checklist

These steps contain the following placeholders that you'll need to fill in:

- `{{AUTHOR}}}` - the name that will appear in `@author` code annotations, e.g. `Jane Doe`
- `{{REPO}}` - the repository

[2022-04-01 03:28] samreid commented on #2
I added @marlitas to responsible dev JSON file, but I want to check on that.

[2022-04-01 19:16] marlitas commented on #2
Using correct github account. Everything looks good!

[2022-04-01 19:16] #2 closed

[2022-04-04 16:57] marlitas opened #3 "Initial Sprint"
This is to track our initial development draft.

[2022-04-07 15:38] pixelzoom opened #4 "TypeScript error in MeanShareAndBalanceModel"
There's a TypeScript error in LevelingOutModel.ts, showing up in CT:

[code]

Two ways to resolve this:

(1) Add the `override` modifer, `public overridereset(): void`.

(2) Delete MeanShareAndBalanceModel `reset` method, if you don't think the base class will need to reset anything.

Also please check with @samreid to determine how it was possible to push this error.  Githooks should prevent thin

[2022-04-07 15:40] samreid commented on #4
This error was possible because we hadn't pulled the new tsconfig options yet.  I'll correct it shortly and we can discuss it further tomorrow.

[2022-04-07 15:47] samreid commented on #4
Push fixed.  @marlitas please pull changes at your convenience.

[2022-04-08 18:51] marlitas opened #5 "Question Bar used in Multiple Sims"
Center and Variability has a file QuestionBar.ts, and we need the same in Mean Share and Balance. It seems reasonable that we would move QuestionBar to common code. It seems like scenery-phet is a natural place for this, but QuestionBar extends vegas StatusBar. Neither Center and Variability nor Mean Share and Balance have a game, so it seems odd they would be grabbing vegas code.

- Should Status

[2022-04-08 22:05] pixelzoom commented on #5
This came up when QuestionBar was created for CAV, and I gave my blessing then to move StatusBar to scenery-phet.  So I'm surprised that it's still in vegas.   So yes, go ahead and move it -- StatusBar has nothing "gamey" about it, and no dependencies on vegas (other than namespace vegas.js, which you'll change to sceneryPhet.js).

[2022-04-08 22:47] samreid commented on #5
Thanks, I'll work on that as part of https://github.com/phetsims/vegas/issues/101

[2022-04-09 12:23] samreid commented on #5
https://github.com/phetsims/vegas/issues/101 has been addressed, so this issue doesn't need to be on hold.

[2022-04-15 15:50] samreid opened #6 "PhET-iO Instrumentation Checklist"
# PhET-iO Instrumentation Process Checklist

## Initial Steps

### Gathering requirements

- [x]  Create a google doc for documenting requirements
- [x]  Identify internal and any client iO requirements
- [x]  Determine the developer that will be instrumenting the simulation. It is best for the simulation's responsible
  developer to perform the PhET-iO instrumentation. They have important insight

[2022-04-15 16:24] samreid commented on #5
Self-assigning to also generalize QuestionBar to scenery-phet.  Tagging @chrisklus so he is aware I'll be doing this.

[2022-04-15 17:00] marlitas opened #7 "Leverage existing beakers for code and design"
We observed in the design document that beakers look like this:
<img width="251" alt="Screen Shot 2022-04-15 at 10 53 02 AM" src="https://user-images.githubusercontent.com/42476338/163598730-3f5d87be-5db4-4184-82fc-204cdeac07c0.png">
In the illustrator document beakers look like this:
<img width="176" alt="Screen Shot 2022-04-15 at 10 56 21 AM" src="https://user-images.githubusercontent.com/424763

[2022-04-15 23:00] marlitas opened #8 "Predict Mean Line Span"
- Should the draggable predict mean line span across the screen or just the cups?
- Will the length of the line change depending on the number of cups?

[2022-04-15 23:39] samreid commented on #5
I transferred this history by following the script in perennial:

[code]

It appears to be working OK.  We may learn more as we start to use QuestionBar in Mean: Share and Balance.  Over to @marlitas for next steps.  You can follow SoccerScreenView.ts for an example usage of QuestionBar, or we can work on this together.

[2022-04-18 22:08] marlitas opened #9 "Water leveling and valve behavior"
As I am starting to work on the 2D cups in Leveling Out some questions came up regarding the behavior of the water in the cups as users interact with valves, and the adjustable quantities of water.

Water valve/ level adjustment:
- Will users be able to adjust water quantity while valves are open?
- If so, does the water balance out while users are dragging the level adjuster, therefore affecting

[2022-04-21 15:06] KatieWoe opened #10 "CT Assertion failed: required tandems must be supplied"
[code]

[2022-04-22 22:53] samreid commented on #10
@marlitas indicated she was working on this today.  Reassigning.

[2022-04-25 15:16] marlitas commented on #10
Required tandems added to predictMeanLine.

[2022-04-25 20:12] amanda-phet commented on #7
I think the goals of all of these beaker-ish representations is different in each sim, so I don't see any reason to unify the visual designs across any of these sims.

For Mean: Share and Balance, I want something that looks like a glass of water, and I think the current design works well for that. I don't know much about the other sims and their goals, but the only one that may have a similar goa

[2022-04-25 20:13] amanda-phet commented on #8
I was thinking the line would be a fixed width/length and span across the whole area where it can move. I'm open to discussing all of the options to see what makes the most sense, though.

[2022-04-25 20:31] marlitas commented on #7
The beaker question might be a wider question with other developers and designers. It does seem like this is a concept that is used pretty frequently. I'm not 100% sure how to go about posing these questions to the team... I'll connect with @samreid on Wednesday about next steps for assessing/ opening the question up to others.

[2022-04-25 20:33] marlitas commented on #8
@amanda-phet Sam and I took a guess and currently have the predict mean line adjusting according to the amount of cups. Is very easy to change back to a static length though. Can change based on your final opinion.

[2022-04-27 16:43] KatieWoe commented on #10
This is still in CT. Reopening
[code]

[2022-04-27 19:55] marlitas commented on #10
Ahh this is for a new element just added today. I will make sure to add tandems in before pushing new code up.

[2022-05-03 18:05] KatieWoe opened #11 "CT phetioID already registered"
[code]

[2022-05-04 22:49] marlitas opened #12 "Should the 3D water level adjuster stop when the 2D cup is filled?"
In certain scenarios of adjusting water level and level out the water with the pipes the following occurs where the 2D water overflows out of the cup:
<img width="758" alt="Screen Shot 2022-05-04 at 4 42 39 PM" src="https://user-images.githubusercontent.com/42476338/166837442-882e3876-e42c-473e-b2f7-4e8cbdc04600.png">

Here is a screen recording to better describe the behavior and how it occurs:
h

[2022-05-09 18:16] amanda-phet commented on #12
I remember trying to answer this question at one point and our initial design idea was to “reset” the 2D cups if the values above changed, and were no longer connected.

if the cups are all connected with an open pipe, then we should be able to change the value of the water in individual cups. This idea returns with the cookies, and there is an "auto-share" option. Maybe we should consider a simil

[2022-05-09 18:38] amanda-phet commented on #8
I reviewed this last week and like how it's looking with the variable length.

[2022-05-09 18:38] #8 closed

[2022-05-09 18:41] amanda-phet commented on #9
Yes

Yes

It sounds like there is a good way to handle this, as discussed with @marlitas and @samreid .

Yes

No

I'm not sure. We originally though each cup would be added with some water, but then I was thinking it would be strange to add a cup and potentially see an immediate impact on the mean (or not). So we should be strategic I think. Maybe the first cup has some water, but each no cup has

[2022-05-10 14:51] KatieWoe opened #13 "CT All descendants must be disposed by the next frame:"
[code]

[2022-05-10 16:08] marlitas opened #14 "Water appearance when cup is empty"
Currently when the water in the 3D cup is dragged all the way down and reaches 0, we still see the top layer of water as if there is remaining liquid or a puddle in the cup.

<img width="244" alt="Screen Shot 2022-05-10 at 10 00 11 AM" src="https://user-images.githubusercontent.com/42476338/167672676-179f2994-baf9-4aaf-bf6f-425b1ffb1475.png">

- Should the water completely disappear when the level

[2022-05-10 17:51] marlitas opened #15 "Sound Effects"
As @samreid and I were working on animating the water levels, Sam pointed out that adding some  water sounds and valve turning sounds to this sim may be a good addition.

We are wondering if sound is a consideration at this point for the Sim?

A couple of thoughts:
- Sound could help students with an aural understanding of the water discrepancies.
- Currently the animation is non-linear which woul

[2022-05-11 04:52] samreid commented on #14
Yes, perhaps when the water level is low (like `< 1E-6`?) the water should immediately disappear (don't render the ellipse).

[2022-05-11 20:05] marlitas commented on #7
@samreid Should this be brought up in the developer meeting tomorrow? I adjusted the code to reflect the illustrator file, but it is still very much copied and pasted from Fractions Intro

[2022-05-11 20:31] samreid commented on #7
Perhaps the first step would be for us to try to use the same code to render Mean: Share and Balance and Fractions Intro.  Once we do that (and see how difficult it is), we can see if using the new look in Fractions Intro is OK, or whether we need options to get rid of the reflections/etc.  Once that is ready, we can review it with the designer of Fractions Intro @amanda-phet.  If that is OK, then

[2022-05-12 17:26] amanda-phet commented on #7
Sure, let's see how it looks in Fractions: Intro. I imagine it will be fine there, since the only other artwork is the cake, and they aren't viewable at the same time.

A lot of our older artwork was done with gradients and we are moving toward more of a highlight/shadow style, so it may be case-by-case if we want to mix this new style in with older sims.

[2022-05-12 17:56] amanda-phet commented on #14
@samreid that idea sounds reasonable to me! I agree that at a certain point we need to not show the blue ellipse.

[2022-05-12 17:58] amanda-phet commented on #15
This is a question for @kathy-phet and if sound design is a priority for this sim or not. My understanding is that there is a process that is usually followed, and it does add time to design/development, and I am not positive about the total funding for this sim.

I would love to incorporate more sound into all of our sims though!

[2022-05-12 18:31] marlitas commented on #7
Sounds good. I can start playing with that this week.

@amanda-phet I also think there may be a way to provide options for that so that gradient vs highlight/shadow is more of a choose between the two, since the code I used to create the new beaker really isn't that different. But perhaps there are limitations there I don't know about.

I was actually thinking about that too @samreid. Providing so

[2022-05-16 17:23] KatieWoe opened #16 "CT This PhetioObject has already been disposed, and cannot be disposed again"
[code]

[2022-05-17 19:36] marlitas opened #17 "Water level behavior when removing a cup"
<img width="650" alt="Screen Shot 2022-05-17 at 1 28 10 PM" src="https://user-images.githubusercontent.com/42476338/168894428-f52afdfa-4688-40e6-bc5b-661d21f8c98d.png">
The 3D cup on the far right, has significantly more water than its corresponding 2D cup. Therefore, when it is removed by clicking the number spinner the amount of water we are removing in the 2D cups does not match the amount of w

[2022-05-19 03:10] marlitas opened #18 "Number of Cups Range Phet-io Customization"
Currently Leveling Out screen requires that the screen has no less than one cup at all times. @samreid and I wondered if any clients on phet-io might want the screen to start out empty with 0 cups.

Should the range for the Number of Cups spinner be able to go to 0 for Phet-io?

[2022-05-23 15:26] marlitas opened #19 "Long String Layout"
When testing with long strings the current layout feels as if there is too much margin on the right.
<img width="1500" alt="Screen Shot 2022-05-23 at 9 20 12 AM" src="https://user-images.githubusercontent.com/42476338/169852745-2abb0593-4367-4d2f-b55c-7061f99cc7d8.png">

However, if we decrease the margin, the controls feel crowded in English.
<img width="1500" alt="Screen Shot 2022-05-23 at 9 20

[2022-05-23 19:11] marlitas opened #20 "waterCup3D Set State Problem"
- linked waterLevelProperty to creation of 3D water cups, rather than NumberOfCupsProperty.
- same with 2D cups, now linked to 3D cup creation.
- Pipe group is linked to 2D cup creation.

<details>

[code]

[2022-05-23 19:23] marlitas opened #21 "3D Water Cup waterLevelProperty not setting state appropriately"
In phetio state wrapper the downstream 3D water cup is not tracking the waterLevelProperty state of the upstream cup.

[2022-05-23 19:37] marlitas commented on #21
@zepumph Patch for PhetioStateEngine error message changes. Prettified error message display.
<details>

[code]

[2022-05-24 16:21] samreid commented on #21
Paper trail from my and @marlitas investigation:

<details>

[code]

</details>

Using this patch, we found that Slider is setting the deferred `waterLevelProperty` value to its current value as part of `clamp`.  This means the deferred property thinks it should take the old value when undeferred.  We will commit a guard like `!isSettingStateProperty.value` and request discussion with @zepumph .

[2022-05-25 19:11] KatieWoe opened #22 "CT reentry detected"
[code]

[2022-05-26 03:40] marlitas commented on #21
Journey to reverting commit: 2e4a346

Commit in question shifted the responsibility of dynamic element creation and disposal from the numberSpinner to phetioGroups. This shift was made through the suggestion of @zepumph to properly couple dynamic element creation rather than relying on a NumberProperty to handle all creation and disposal. Element relationships were made clearer through this, and r

[2022-05-26 03:42] marlitas commented on #21
Issue has been resolved. Closing.

[2022-05-26 03:42] #21 closed

[2022-05-27 22:37] marlitas opened #23 "Slider drag range limit"
After committing the changes @samreid and I worked on together this morning, I attempted to fix the slider drag bug by applying adjusting the max and min for the drag range in the listener, as accomplished prior. However, the slider would not update appropriately and the triangle was glitching rapidly. My hypothesis was that the range was getting set too late in the order of operations and I imple

[2022-05-31 20:35] amanda-phet commented on #17
Just to revisit this- We didn't discuss this situation when coming up with the design pattern for adding/removing cups after some sharing has occurred. However, it seems like removing the cup should "auto-borrow" from the other cups so that the total in the 2D accurately reflects the total water in the 3D cups.

I think we can auto-borrow from the two 2D cups in this case.

But what about a case l

[2022-05-31 20:38] amanda-phet commented on #12
This was cleared up in last week's design meeting- sliders will have a limit for adding or removing water if there isn't room in the 2D cup, or there isn't water in the 2D cup to remove.

[2022-05-31 20:40] amanda-phet commented on #9
I think these have all been answered and addressed. The last question about new cups seems to not be an issue right now, and I like the current behavior where a new cup being added always has the same amount of water (seems to be about half full?) and seeing the mean shift doesn't seem problematic to me.

[2022-06-02 21:23] marlitas commented on #19
Meeting 6/1/22:
Decided to change the NumberPicker to a NumberSpinner, and place it above reset-all button.

[2022-06-02 21:27] #4 closed

[2022-06-02 21:32] marlitas opened #24 "Triangle thumb node for slider"
While researching a bug on the 3D water cups slider I discovered that Blackbody spectrum also has a triangular thumb node for their slider:
<img width="350" alt="Screen Shot 2022-06-02 at 3 28 14 PM" src="https://user-images.githubusercontent.com/42476338/171741661-183f6a9d-1022-4627-9283-ded4aeef7aa1.png">
Our triangular thumb node looks like this:
<img width="255" alt="Screen Shot 2022-06-02 at

[2022-06-02 22:13] marlitas opened #25 "NumberSpinner Arrow Options"
While implementing NumberSpinner I discovered that the default is for both arrows to be on the right side of the number display:
<img width="89" alt="Screen Shot 2022-06-02 at 4 03 28 PM" src="https://user-images.githubusercontent.com/42476338/171746082-512f6ff4-9fe7-4361-addc-2c13e7bcefa6.png">
I know we discussed various orientations of the arrows for the NumberSpinner but these options were not

[2022-06-03 20:39] samreid commented on #24
Yes, it seems at least some code would ideally be shared between those sims.

[2022-06-03 23:18] marlitas commented on #19
Layout adjusted to accommodate meeting decisions and lang strings. Assigning to @amanda-phet for review on checkbox and number spinner placement. Check with `stringTest=long`

[2022-06-06 20:56] marlitas commented on #23
Drag range and all related bugs have been addressed. Closing.

[2022-06-06 20:56] #23 closed

[2022-06-07 20:13] amanda-phet commented on #19
This is looking good to me! However at some point as strings get longer, the left edge here loses its alignment:
![image](https://user-images.githubusercontent.com/7852916/172473410-018c31bc-8398-4988-b48e-01a1d7c133f7.png)

![image](https://user-images.githubusercontent.com/7852916/172473464-e615b850-d6f7-408d-8b31-93fdb773e477.png)

Do you know what's going on? It seems like it happens when the

[2022-06-07 20:15] amanda-phet commented on #25
Both buttons on the right could be interesting. However at this point I'm indifferent to the options. Leaving open for a design discussion with more folks present.

[2022-06-07 20:35] marlitas commented on #19
@amanda-phet Not sure. I will check this out today and see if I can fix by our meeting tomorrow.

[2022-06-08 15:27] samreid opened #26 "Preparatory mini code review"
@marlitas and I recommend that the sim have a code review from another developer, but to prepare it for the code review, we agreed I should take a preparatory mini-review to see if there are architectural questions or other changes to make before the code review.  I'll try to do this within a week or so.

[2022-06-08 16:13] amanda-phet commented on #25
I've played with it and am really liking the left right spinner! Closing.

[2022-06-08 16:13] #25 closed

[2022-06-08 16:18] amanda-phet commented on #17
Right now, if I remove the last cup and the water level doesn't match the 2D cup, the sim matches the 2D water levels to the 3D water levels. If valves are open, things level. If not, things don't. This feels pretty reasonable to me. We discussed some alternatives and those did not seem reasonable (auto-borrowing, auto-sharing, or needing to sync before removing a cup). I'll close this since this

[2022-06-08 16:18] #17 closed

[2022-06-08 19:06] marlitas commented on #19
Fixed and approved in design meeting. Closing.

[2022-06-08 19:06] #19 closed

[2022-06-08 19:36] amanda-phet opened #27 "Water valve design"
The current valve is a simple circle with a cutout, and doesn't necessarily look interactive:
![image](https://user-images.githubusercontent.com/7852916/172702104-23011530-0c8c-493d-964f-fa7c9d049867.png)

@marlitas came up with an idea that is kind of like a gate valve that is pretty awesome:
![Screen Shot 2022-06-08 at 10 24 52 AM](https://user-images.githubusercontent.com/7852916/172701063-cc7a

[2022-06-09 15:22] KatieWoe opened #28 "CT phetioMessageStack should be clear"
[code]

[2022-06-09 17:59] Nancy-Salpepi opened #29 "Difficult to remove all of the water"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/810, when the valves are open it takes me several tries to remove all of the water. The more cups that are attached, the more tries it takes me to get rid of all the water. By "tries" I mean that I am pulling the arrow down but there is still

[2022-06-09 18:08] Nancy-Salpepi opened #30 "Should 'Auto Share' be an option when there is only one cup?"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
https://github.com/phetsims/qa/issues/810

When there is only one cup on the screen should the 'Auto Share' checkbox be disabled?

**Visuals**
<img width="663" alt="Screen Shot 2022-06-09 at 2 04 31 PM" src="https://user-images.githubusercontent.com/87318828/172915164-425e00c8-b330-4

[2022-06-10 15:27] marlitas commented on #30
If the user's intention is to have an open pipe when the second cup is added, checking 'Auto Share' is the only way to do that.

@samreid also mentioned that if 'Auto Share' is enabled when the user has multiple cups, and then becomes disabled when a user goes down to 1 cup, that may be less than optimal behavior.

@amanda-phet what do you think? Feel free to close if the behavior is as desired.

[2022-06-10 17:18] Nancy-Salpepi opened #31 "Sim title incorrect"
For https://github.com/phetsims/qa/issues/810

Isn't the title of the sim:
           Mean: Share and Balance

<img width="504" alt="Screen Shot 2022-06-10 at 1 15 30 PM" src="https://user-images.githubusercontent.com/87318828/173118238-c0ddf78d-961d-4bc4-a393-ff179268768c.png">

[2022-06-10 18:52] Nancy-Salpepi opened #32 "keyboard help dialog missing"
https://github.com/phetsims/qa/issues/810

Since there is keyboard nav in this prototype, shouldn't there be a keyboard dialog?

[2022-06-10 20:37] marlitas commented on #31
Oops! Fixed and pushed to master branch. New dev build unnecessary. Closing.

[2022-06-10 23:01] marlitas opened #33 "model.md"
From CRC: Does it adequately describe the model, in terms appropriate for teachers? Has it been reviewed by the sim designer?

[2022-06-13 14:16] samreid commented on #26
I read through every file and everything seems like it is in very good shape. I added some review comments, mainly about adding documentation. Please review the change sets and let me know if you have any questions about any of the changes that were made or REVIEW comments that were requested.

[2022-06-13 16:19] samreid commented on #29
In the commit Marla and I added support so that the slider property value can update when the thumb is being held outside the enabled range.  We added a test harness in the sun demo. And we also tested that it works well in Mean: Share and Balance itself.

We had a few questions and would like to request a code review, perhaps from someone more familiar with the accessibility side. One question we

[2022-06-13 16:48] marlitas commented on #32
Keyboard help content dialog added. @Nancy-Salpepi please test on Phettest.

[2022-06-13 17:33] Nancy-Salpepi commented on #32
@marlitas
I'm not sure if phettest is acting up, but I don't see the keyboard help dialog.

[2022-06-13 17:36] Nancy-Salpepi commented on #31
@marlitas I was just on master and I see that the "a" in "and" is capitalized. I believe it should be lowercase to look like this:

Mean: Share and Balance

[2022-06-13 21:38] marlitas commented on #32
@Nancy-Salpepi Phettest should be up to date now!

[2022-06-13 22:03] KatieWoe opened #34 "Recommendation to add tick marks to bottom beakers"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/810. I noticed that, when tick marks are turned on, they only appear on the top beakers. There are situations where a user may find it helpful to also have tick marks on the bottom beakers. For example, if the top beaker are set to share automatically and you want t

[2022-06-13 22:50] marlitas commented on #31
@Nancy-Salpepi Sorry for closing prematurely. "And" is now lowercased. Can be checked on phettest.

[2022-06-13 22:52] marlitas commented on #34
Assigning to @amanda-phet to comment on the design aspect of this.

[2022-06-13 23:17] Nancy-Salpepi commented on #32
Looks good @marlitas!

[2022-06-13 23:31] Nancy-Salpepi commented on #31
Title looks good now 🙂 @marlitas!

[2022-06-14 16:20] KatieWoe commented on #29
On Win 10 Firefox, I noticed this same behavior when trying to get all the beakers full.

[2022-06-14 18:13] marlitas commented on #32
Closing after QA approval.

[2022-06-14 18:13] #32 closed

[2022-06-14 18:14] marlitas commented on #31
Closing with QA approval.

[2022-06-14 18:14] #31 closed

[2022-06-14 19:14] jessegreenberg commented on #29
This change looks good! I appreciate the documentation and I verified it is working well in the sun demo. My understanding is that this was only needed if the thumb is held down while the enabled range changes (while there are no events), and subsequent mouse moves would update the value correctly.

This wasn't an issue for alt input because events continue to be received while keys are pressed do

[2022-06-15 15:06] marlitas commented on #34
Design Meeting 6/15/22:
Decision, let's go for it.

[2022-06-15 15:09] marlitas commented on #30
Design Meeting 6/15/22

@amanda-phet will keep an eye on this during interviews.

[2022-06-15 15:27] amanda-phet commented on #27
@marlitas made a version to match the new mockup! It's really helpful to see it in context:

![image](https://user-images.githubusercontent.com/7852916/173865872-f0685fdb-7944-48b0-a3e2-2941d5e4b5eb.png)

I saw some minor issues, but before we polish it I think it would be helpful to decide if we like this direction.

[2022-06-15 15:42] amanda-phet commented on #27
Discussed again 6/15/22, and @marlitas will keep the valve with the red handle. Some tweaks:

* reduce the overall size of the valve a bit
* reduce the length of the handle so it doesn't cover the cup
* change the pipe color to be a gradient from white to gray (#4d4d4d) - simple linear gradient

[2022-06-15 18:46] marlitas commented on #10
This error is no longer appearing in CT. Closing.

[2022-06-15 18:46] #10 closed

[2022-06-15 18:47] marlitas commented on #11
This error is no longer appearing in CT. Closing.

[2022-06-15 18:47] #11 closed

[2022-06-15 18:48] marlitas commented on #13
Error no longer appearing in CT. Closing.

[2022-06-15 18:49] marlitas commented on #16
This error is no longer appearing in CT. Closing.

[2022-06-15 18:49] #16 closed

[2022-06-15 18:55] marlitas commented on #29
Thanks for reviewing @jessegreenberg!
Keeping this issue open for the next round of QA to ensure this did indeed fix the desired behavior.

[2022-06-15 19:20] marlitas commented on #29
Fix is merged to master. QA check on phettest to make sure it resolves the buggy behavior.

[2022-06-15 20:01] KatieWoe commented on #29
This still happens on master. Dragging the water slows down then fully stops before the last beaker is empty. It seems better than before, but still isn't fixed. Reassigning.
![stillhappens](https://user-images.githubusercontent.com/41024075/173916546-c1cdfa81-3b69-4c71-993c-924bdf763b49.gif)

[2022-06-15 22:46] Nancy-Salpepi commented on #29
I'm seeing the same thing as @KatieWoe. It seems the slider resists movement more and more as you near the bottom.

[2022-06-16 00:08] marlitas commented on #29
Hmmm... Okay back to the drawing board. It's emptying on my end but is rather slow, and seems to get slower the more open pipes there are... Video is helpful to determine user interaction. Will brainstorm to find a better fix.

[2022-06-16 21:24] KatieWoe commented on #13
This is occurring again:
[code]

[2022-06-16 22:09] marlitas commented on #34
Tick marks have been added to bottom beakers when "Show Ticks" is enabled and is pushed up to master. Assigning to @amanda-phet for final approval before closing.

[2022-06-16 22:20] marlitas opened #35 ""Sync" icon same/similar to "Refresh""
While testing to ensure the ResetShape name change in common code didn't cause any bugs or breaks, I found a refresh button that looks eerily familiar to the sync icon we created.

Refresh:
<img width="113" alt="Screen Shot 2022-06-16 at 4 12 52 PM" src="https://user-images.githubusercontent.com/42476338/174185686-00fd94ba-f358-47e1-a73f-fec62d768a4c.png">

Sync:
<img width="113" alt="Screen Shot

[2022-06-16 22:43] marlitas opened #36 "implementation-notes.md"
From the CRC:
- [ ] Does implementation-notes.md adequately describe the implementation, with an overview that will be useful to future maintainers?

[2022-06-17 15:28] samreid commented on #13
@marlitas and I fixed the problem in the commit.  Thanks!  Closing.

[2022-06-17 15:28] #13 closed

[2022-06-17 16:11] marlitas opened #37 "CT Assertion failed: index out of bounds: 0, array length is 0"
@samreid and I attempted to trace this through iframe API test, but the error is not consistent enough for iteration. Added asserts in IntroModel.ts with the hopes that CT will catch on next round.

[code]

[2022-06-21 15:57] zepumph commented on #37
I didn't poke around long enough, but even so, I believe I still have a theory.  @samreid and I spoke about this, and to me it seems to be related to the patch in this issue:

https://github.com/phetsims/mean-share-and-balance/issues/20

Here we moved logic from a listener on the countProperty to listenting to when the 3d group changes (for the 2d group and pipe group). Then PhET-iO state will be

[2022-06-23 20:36] marlitas opened #38 "Memory Leak Test"
Memory Leak Test 6/23/22
<img width="293" alt="Screen Shot 2022-06-23 at 2 35 33 PM" src="https://user-images.githubusercontent.com/42476338/175394799-6b0b2c38-44dc-43f9-8df7-99219b510ec6.png">

[2022-06-23 20:45] marlitas opened #39 "Performance Testing"
@marlitas tested on Macbook 2020 with no performance issues detected. No issues came up from QA dev test on the following systems:
 - Latest macOS, Safari (Time = 3.5hrs)
 - Windows 10, Chrome (Time = 2)
 - Windows 10, Firefox (Time = 1
 - Latest iOS, Safari (Time = 1.5hrs)
 - Windows 11, Chrome (Time = 1)

[2022-06-23 20:48] marlitas opened #40 "Pointer Areas Review"
<img width="1341" alt="Screen Shot 2022-06-23 at 2 48 36 PM" src="https://user-images.githubusercontent.com/42476338/175396927-3467b78e-dc0c-4d9a-9571-ac3fa6fcb783.png">

[2022-06-23 20:50] marlitas opened #41 "Code Review: Intro Screen Only"
# PhET Code-Review Checklist (a.k.a "CRC")

* The responsible dev is responsible for removing the irrelevant parts
* A checked-off item doesn't mean "no problem here", it means "it was reviewed"
* Problems can be noted in side issues that reference this issue, or through `// REVIEW` comments in the code

## Specific Instructions

This code review is for the Intro screen of which the majority of re

[2022-06-23 21:03] marlitas commented on #40
<img width="1341" alt="Screen Shot 2022-06-23 at 3 02 40 PM" src="https://user-images.githubusercontent.com/42476338/175399322-591fa5ea-29d3-43e5-975e-fbdfac4a4ed0.png">

[2022-06-23 21:54] marlitas commented on #38
PhET-iO brand
<img width="289" alt="Screen Shot 2022-06-23 at 3 54 15 PM" src="https://user-images.githubusercontent.com/42476338/175415767-1957d7fb-279b-444a-95e1-408d5834263e.png">

[2022-06-24 19:47] pixelzoom commented on #29
While you're solving this problem... Have you tested the behavior with multi-touch? Does it behave as expected when 2 or more of the sliders are being manipulated simultaneously?

[2022-06-24 20:00] marlitas opened #42 "TotalWaterLevel assertion"
In an attempt to fix https://github.com/phetsims/mean-share-and-balance/issues/29 we have discovered a total water discrepancy between the two data sets. This patch is an attempt to fix.

<details>

[code]

</details>

[2022-06-25 18:20] marlitas commented on #26
All review comments addressed and changes looked over. Thanks for the feedback @samreid! Closing.

[2022-06-25 18:20] #26 closed

[2022-06-27 16:51] marlitas commented on #42
This patch attempts to reconfigure the 3D cups range to be dependent on remaining space in connected 2D cups

<details>

[code]
</details>

[2022-06-27 21:26] marlitas commented on #27
Valve redesign according to notes is done and pushed up to master. Assigning to @amanda-phet for review and feedback.

[2022-06-28 00:31] pixelzoom commented on #41
@kathy-phet pinged me on Slack, and would like me to do this code review.  I can likely get to it tomorrow 6/27.

[2022-06-28 00:58] pixelzoom commented on #38
Looks good as of 6/27 for code review https://github.com/phetsims/mean-share-and-balance/issues/41.

[2022-06-28 00:58] pixelzoom commented on #40
Looks good as of 6/27 for code review https://github.com/phetsims/mean-share-and-balance/issues/41.

[2022-06-28 17:47] pixelzoom opened #43 "Calls to optionize that do nothing"
For code review https://github.com/phetsims/mean-share-and-balance/issues/41 ...

In IntroModel.ts:

[code]

This same pattern is used in MeanShareAndBalanceScreenView.ts and IntroScreenView.ts. And you seem to have used this pattern consistently.

It's nice that `providedOptions` only appears in optionize call, and `options` is then used throughout the constructor. That makes it consistent with o

[2022-06-28 17:54] pixelzoom opened #44 "Prefer `children` to `addChild`."
For code review https://github.com/phetsims/mean-share-and-balance/issues/41 ...

There's a significant performance difference between Node's `children` option and its `addChild` method that I thought would be worth bringing to your attention.

The current implementation of `SyncIcon` is:

[code]

A more efficient implementation would use the `children` option instead of `addChild`:

[code]

There

[2022-06-28 18:08] pixelzoom opened #45 "MeanShareAndBalanceModel should be an interface"
For code review https://github.com/phetsims/mean-share-and-balance/issues/41 ...

`MeanShareAndBalanceModel` looks like this:

[code]

`MeanShareAndBalanceModel` is not meant to be instantiated directly. It provides no properties, functionality, or default behavior.  And (based on what I see in IntroModel) you're expecting the subclasses to override all of those empty methods.  So `MeanShareAndBal

[2022-06-28 18:11] pixelzoom commented on #45
By the way... If `MeanShareAndBalanceModel` had properties or provided default behavior, then I'd be recommending that you make it an `abstract` class.

[2022-06-28 18:21] pixelzoom opened #46 "Set backgroundColorProperty and keyboardHelpNode in IntroScreen"
For code review https://github.com/phetsims/mean-share-and-balance/issues/41 ...

In MeanShareAndBalanceScreen.ts:

[code]

In most PhET sims, each screen has a unique color and unique keyboard-help content.  So those options feel inappropriate in this base class.  I recommend:

* Move `backgroundColorProperty` and `keyboardHelpNode` options to IntroScreenView.ts
* Rename `screenBackgroundColorPro

[2022-06-28 18:39] pixelzoom opened #47 "pdomOrder is specified incorrectly"
For code review https://github.com/phetsims/mean-share-and-balance/issues/41 ...

In https://github.com/phetsims/phet-info/blob/master/doc/alternative-input-quickstart-guide.md#traversal-order, 2 approaches are described for handling pdomOrder (aka traversal order).

IntroScreenView.ts currently appears to be leaning towards Approach 1, because it sets ` this.pdomPlayAreaNode.pdomOrder` and `this.

[2022-06-28 18:48] pixelzoom commented on #47
I also see that IntroScreenView extends MeanShareAndBalanceScreenView. But MeanShareAndBalanceScreenView currently ignored `pdomOrder`.  Classes are typically responsible for specifying the order of Nodes that they create, so this is a little odd.  On the other hand, it can be more straightforward for a subclass to specify the complete order for its Nodes and its superclass' Nodes.  You just have

[2022-06-28 19:16] pixelzoom opened #48 "Unnecessary use of `merge`"
For code review #41 ...

There's an occurrence of `merge` in MeanShareAndBalanceScreenView.ts:

[code]

I was going to suggest converting to `optionize`.  But both of the arguments are object literals, so can't they be combined, like this?

[code]

[2022-06-28 19:42] pixelzoom opened #49 "Call super.dispose after doing subclass-specific disposal"
For code review #41 ...

`super.dispose` is typically called _after_ doing any subclass-specific disposal. This sim is doing the opposite.

For example in WaterCup3DNode.ts:

[code]

Search for `super.dispose`, I think the order is reversed everywhere.

[2022-06-28 19:51] pixelzoom opened #50 "Check `hasListener` before calling `unlink`"
In WaterCup3DNode.ts:

[code]

The call to `unlink` here is problematic. If `isShowingTickMarksProperty` happens to have been disposed before this `dispose` method is called, then the `unlink` will fail.  To convince yourself of that, make this (temporary) change, then run with `?ea&fuzz`.

[code]

What should typically be done is:

[code]

This should be addressed in WaterCup2DNode.ts and WaterCu

[2022-06-28 20:00] pixelzoom opened #51 "Use "Listener" suffix for the name of Property listeners"
For code review #41 ...

The signatures for `link` and `unlink` are:

[code]

So the first parameter is a "listener", and (by convention) we typically name them accordingly, with a "Listener" suffix.  In WaterCup2DNode.ts and WaterCup3DNode.ts, you've used a diffferent convention, a "Link" suffix:

[code]

Another reason to avoid the "Link" suffix is that there are places where's it's more appropr

[2022-06-28 20:24] marlitas opened #52 "Leveling Out Screen Sprint"
This issue will track the initial sprint for the Leveling Out Screen.

[2022-06-28 20:33] pixelzoom opened #53 "Use inheritance instead of composition for WaterLevelTriangleNode"
For code review #41 ...

WaterLevelTriangleNode is effectively a slider (with a custom thumb and invisible track). But it currently extends Node, and it's name does not identify it as a slider.  Using composition instead of inheritance here is not advantageous, and has disadvantages:

(1) It's a slider, and calling it something else is confusing.

(2) PhET-iO (and Studio) wants it to look like a s

[2022-06-28 20:38] pixelzoom opened #54 "Incorrect tandem name for Intro screen"
For code review #41 ...

In mean-share-and-balance-main.ts, this tandem name looks incorrect:

[code]

Shouldn't it be "introScreen"?

[2022-06-28 20:47] pixelzoom opened #55 "Tandem name should match associated variable/field name"
For code review #41 ...

By PhET-iO convention, tandem names are typically supposed to match their associated variable/field name (with exceptions made for unusual cases).  There are at least 5 violations of that in this sim, and none of them qualifies as "unusual".

For example, in MeanShareAndBalanceScreenView.ts:

[code]

I added comment "//REVIEW tandem name does not match" to all of the cases

[2022-06-28 20:59] pixelzoom opened #56 "CUP_RANGE_MIN and CUP_RANGE_MAX issues"
For code review #41 ...

In MeanShareAndBalanceConstants.js

[code]

First, `CUP_RANGE` doesn't tell me anything.  Is this actually the level of the water in cup? If so, then `WATER_LEVEL` would be much more meaningful.  Or even `WATER_HEIGHT`, since you have this in WaterCupModel.ts:

[code]

Second, you have 9 places where you're creating a Range instance that involve these min/max constants:

[

[2022-06-28 21:05] pixelzoom opened #57 "PIPE_STROKE_WIDTH is not used to set lineWidth"
For code review #41 ...

In MeanShareAndBalanceConstants.ts:

[code]

I expected to see PIPE_STROKE_WIDTH used as the value for `lineWidth` option, perhaps in PipeNode.ts.  But it only appears in 1 place in the entire sim, in PipeNode.ts:

[code]

So I suspect that you're relying on scenery's default `lineWidth` (1), and that if I changed that lineWidth or PIPE_STROKE_WIDTH, it would break this co

[2022-06-28 21:37] pixelzoom opened #58 "Factor out chunks of the UI into separate classes"
For code review #41 ...

There are some things that I'd recommend factoring out of MeanShareAndBalanceScreenView and IntroScreenView -- logical "chunks" of the UI.  Factoiring them out as their own classes would provide better encapsulation, and would make the ScreenView subclasses easier to read.

(1) Factor out everything related to `this.syncDataButton` into something like `class SyncDataButton

[2022-06-28 21:51] pixelzoom opened #59 "Use PhET convention for naming Properties related to visibility."
For code review #41 ...

In IntroModel.ts:

[code]

The "isShowing" prefix here does not match PhET/PhET-iO naming conventions.
For Properties that control visibility, the convention is to give them names (and tandem names) of the form `{something}VisibleProperty`.

So these should Properties and their tandems should be renamed to `predictMeanVisibleProperty`, `meanVisibleProperty`, and `tickMarks

[2022-06-28 21:57] pixelzoom opened #60 "Reconsider dynamic allocation of cups and pipes."
For code review #41 ...

From implementation-notes.md:

- Dynamic Allocation:
  - All the cups and pipes are added and removed dynamically as cups are added and removed through the number spinner.
  - Therefore, all cups and pipes must be disposed along with their links and listeners.

I would strongly reconsider this approach.  There is a well-know maximum number of cups, and it's not a large num

[2022-06-28 22:04] pixelzoom commented on #60
You also would not need this involved listener in IntroModel.ts:

[code]

You'd simply change visibility of cup and pipe nodes based on `numberOfCupsProperty`, and ignore irrelevant cups and pipes in the model based on `numberOfCupsProperty`.

[2022-06-28 22:11] pixelzoom opened #61 "Replace "Auto Share" checkbox with push buttons."
For code review #41...

After playing with this sim for close to 4 hours, I finally figured out the "Auto Share" checkbox.  When you check it, it opens all pipes.  If you close any pipe, it unchecks the checkbox (which is in general rude and confusing for a checkbox).   And the only way I figured it out was by stumbling across a code comment (at instantiation, not at declaration) that explained it

[2022-06-28 22:14] pixelzoom commented on #61
This is even more confusing than I thought.... If I uncheck the "Auto Share" checkbox myself (versus having it automatically unchecked by closing a valve) then all valves close.  So if I close one value myself, the only way I can close them all is to check then uncheck the box. Yikes.

How about 2 push buttons, with appropriate icons? One to close all valves, one to open all values.

[2022-06-28 22:20] pixelzoom opened #62 "Changing "Auto Share" should interrupt interaction with sliders"
For code review #41, and related to https://github.com/phetsims/mean-share-and-balance/issues/61 ...

If the user changes the "Auto Share" checkbox, then any in-progress interactions with the water-level sliders presumably should be cancelled.  Searching for `interruptSubtreeInput', I don't see that happening.

[2022-06-28 22:23] pixelzoom opened #63 "Limit to interaction with 1 water-level slider at a time."
For code review #41 ...

This was discussed recently in Slack#developer, but I don't see it implemented.

I suspect that this sim will have problems with multi-touch, specifically dragging 2 or more water-level sliders at the same time.  Trying to get that to work correctly is going to be difficult, and imo unnecessary.

Something you could do to simplify this, if @amanda-phet agrees… When the use

[2022-06-28 22:27] pixelzoom opened #64 "Manipulator on "Predict Mean" line is too small"
For code review #41 ...

The manipulator on the "Predict Mean" line is _so_ tiny. Why?

<img width="536" alt="screenshot_1723" src="https://user-images.githubusercontent.com/3046552/176314737-a779bb5b-ea77-420d-ab5a-ceadae956d71.png">

[2022-06-28 22:30] pixelzoom opened #65 "A few things about the "Sync" button"
For code review #41 ...

A few things about the "Sync" button...

(1) Does it really need to be labeled with "Sync", and will mean anything to user? It didn't mean anything to me until I dug into the code. "Sync" what?  I suspect it won't mean anything to the user until the play with it and figure it out.  In which case the "Sync" label isn't doing anything

(2) Why is the font size so small, comp

[2022-06-28 22:36] pixelzoom opened #66 "Reconsider UI for changing number of cups"
For code review #41 ...

Some feedback on this control:

<img width="161" alt="screenshot_1725" src="https://user-images.githubusercontent.com/3046552/176315477-502fc828-375b-411e-86aa-ee7d95bd481c.png">

(1) I really don't like left-right spinners. Up-down is a much better UX, especially when considering right-to-left languages.

(2) I don't like using text labels where we don't need to.

So for

[2022-06-28 22:43] pixelzoom opened #67 "Conventions for specifying PhET-iO options"
For code review #41 ...

This is a question for the PhET-iO team, @zepumph and @samreid.

I've gotten in the habit of putting PhET-iO related option _last_ at instantitation sites. That's the pattern that I've seen in most code, and I vaguely recall a conversation to that effect, so maybe it's an unwritten convention.

This sim puts that PhET-iO options wherever.  For example, in MeanShareAndBalan

[2022-06-28 22:50] pixelzoom commented on #53
Similar comments about PredictMeanNode:

[code]

Nothing about the name of PredictMeanNode tells me that it's a line or a slider. Suggested to rename to PredictMeanLine, and document that it behaves like a slider for a11y purposes.

[2022-06-28 22:55] pixelzoom opened #68 "Inconsistent checkbox labels"
For code review #41 ...

There's a bit of inconsistency in how the "Show Mean" and "Tick Marks" checkboxes are labeled:

<img width="167" alt="screenshot_1726" src="https://user-images.githubusercontent.com/3046552/176317494-3ccb4286-e23e-42d1-a6d2-8ad1b1c97606.png">

Consisent would be either one of these:
(1) "Show Mean" and "Show Tick Marks"
(2) "Mean" and "Tick Marks"

Personally, I'm not a fa

[2022-06-28 22:58] pixelzoom opened #69 "Delete waterglass.ai ?"
For code review #41 ...

\Re this check list item:

I see assets/waterglass.ai, but nothing in images/.  Is waterglass.ai something vestigial that should be deleted?

[2022-06-28 23:03] pixelzoom opened #70 "Convention for naming model-element classes"
For code review #41 ...

PhET convention does not typically use the suffix "Model" for naming model-element classes.  So recommended to rename:

* PipeModel => Pipe
* WaterCupModel => WaterCup

IntroModel is fine, since it _is_ PhET convention to name the top-level model "container" with a "Model" suffix.

[2022-06-28 23:04] pixelzoom commented on #70
Be careful to preserve git history when renaming files. WebStorm/git can be a bit unpredictable about how it handles renames.

[2022-06-28 23:08] pixelzoom commented on #70
Also by convention, parameters and fields of type PipeModel and WaterCupModel should also be renamed. For example, in WaterCup2DNode.ts:

[code]

[2022-06-28 23:11] pixelzoom opened #71 "Reduce coupling to IntroModel"
For code review #41 ...

For this checklist item:

There is definitely some unnessary coupling in WaterCup3DNode.ts:

[code]

WaterCup3DNode should not know about the entire IntroModel.  It needs to know about only 2 things:

* introModel.isShowingTickMarksProperty
* introModel.changeWaterLevel

These 2 things should be provided to WaterCup3DNode via the constructor, not the entire IntroModel inst

[2022-06-28 23:13] pixelzoom commented on #71
Similar problem for PredictMeanNode:

[code]

There's no need to tie PredictMeanNode to IntroModel.  Pass the things that PredictMeanNode needs in via the constructor.  Or if you want to get fancier, define an interface for the things that PredictMeanNode needs, make IntroModel implement that interface, and change constructor parameter `model: IntroModel` accordingly.

[2022-06-28 23:17] pixelzoom opened #72 "Consider moving visibility Properties to the view"
For code review #41 ...

These Properties are currently in IntroModel.ts:

[code]

They have nothing to do with the model. And more importantly, PhET-iO clients may expect them to be in the view.  So consider moving them to IntroScreenView.  For an example, see geometric-options.VisibleProperties.

[2022-06-28 23:20] pixelzoom opened #73 "Migrate SyncIcon to common code?"
For code review #41 ...

Re this checklist item:

SyncIcon is a likely candidate.  But I'd also like to see it use fontawesome fa:refresh icon, see https://fontawesome.com/v4/icon/refresh.

[2022-06-28 23:23] pixelzoom opened #74 "Dynamic barFill for QuestionBar"
For code review #41 ...

Re this question in MeanShareAndBalanceScreenView.ts:

[code]

It already supports dynamic barFill. Simply pass in a PaintColorProperty, like you can do for any scenery Node subclass that has a `fill` option.

[2022-06-28 23:31] pixelzoom opened #75 "meanProperty should be a DerivedProperty"
For code review #41 ...

For this checklist item:

This is unfortunate in IntroModel.ts, especially since it's arguable the most-important Property in the screen:

[code]

And this unfortunate compromise is due to https://github.com/phetsims/mean-share-and-balance/issues/60.  So to reiterate what I said in that issue, I would reconsider the decision to dynamically allocate pipes and cups.  Or inve

[2022-06-28 23:35] pixelzoom opened #76 "Check the traversal order"
For code review #41 ...

In other sims that I've worked on, things in the "play area" are typically first in the traversal order.  In this sim, the first thing is the "Predict Mean" checkbox, and I have to tab many times to get to the play area.

I'm not sure if this is how the traversal order was designed, or whether it hasn't been done yet. So including @amanda-phet in assignees.

[2022-06-28 23:40] pixelzoom opened #77 "Replace `x` and `y` with `position`"
For code review #41 ...

PipeModel and WaterCupModel (and their IOTypes) have options and fields named `x` and `y`. For example in PipeMode.ts:

[code]

[2022-06-28 23:48] pixelzoom opened #78 "Address REVIEW comments"
For code review #41 ...

During a code review, the reviewer has the option of either creating GitHub issues or adding REVIEW comments directly to the code.

REVIEW comments are typically minor things that do not require a GitHub issue, and they look like this example in MeanShareAndBalanceConstants.ts:

[code]

There are currently 48 REVIEW comments, search for "REVIEW". Let me know if you have qu

[2022-06-28 23:56] pixelzoom commented on #41
Code review has been completed. Looking good!

I created 35 issues labeled "dev:code-review", some of which will require input from @amanda-phet.

I also created 48 REVIEW comments in the source code, tracking in #78.

The highest-priority issue is https://github.com/phetsims/mean-share-and-balance/issues/60. The choice to do dynamic allocation of pipes and cups introduces a lot of complexity, and

[2022-06-28 23:56] pixelzoom commented on #60
As I said in https://github.com/phetsims/mean-share-and-balance/issues/41#issuecomment-1169396433:

So raising the priority of this issue to high.

[2022-06-29 00:15] kathy-phet commented on #60
@amanda-phet and @samreid are both out this week. Let's plan to discuss early week of July 5th, when both are back in town. Does that work @marlitas?

[2022-06-29 00:18] pixelzoom commented on #60
Thinking about how to proceed with this issue, my recommendation is (in this order):

(1) Have the MSAB team take a look at FMW in Studio, to review how we addressed a variable number of harmonics.  Looking at the Discrete screen subtree should be sufficient. Here are the important elements, where '*' can be replaced with a number in the range [1,11]:

`fourierMakingWaves.discreteScreen.model.four

[2022-06-29 00:25] kathy-phet commented on #60
This is helpful, Chris. Thanks for bringing up the notion of consistency across sims with PhET-iO approach, too. Defintely useful to consider for client experience.

[2022-06-29 16:31] marlitas commented on #76
A conversation needs to be had about suggested traversal order. Will put on docket for our next design meeting.

[2022-06-29 16:33] marlitas commented on #74
Ahhh. I've never used a color property in that way so didn't even think of it. Thanks! Will update my question in the related issue: https://github.com/phetsims/scenery-phet/issues/751

[2022-06-29 16:39] marlitas commented on #35
@pixelzoom stated in: https://github.com/phetsims/mean-share-and-balance/issues/73

If designer determines we would rather use the sync icon rather than the refresh icon, sync icon will be moved to common code.

[2022-06-29 16:39] marlitas commented on #73
The design portion of this question is being tracked here: https://github.com/phetsims/mean-share-and-balance/issues/35

On hold until designer feedback is provided. Adding @pixelzoom's comment to the other issue and closing to remove duplicates.

[2022-06-29 16:39] #73 closed

[2022-06-29 16:45] marlitas commented on #66
In this issue: https://github.com/phetsims/mean-share-and-balance/issues/25 @amanda-phet determined the left-right NumberSpinner was preferable. This sim started with a NumberPicker and did not provide the desired result as determined by designers and dev team according to spacing as well as functionality with future screens.

Leaving issue open to address question of text label vs. icon. Removing

[2022-06-29 16:48] marlitas commented on #65
Unsure if consolidating this issue with: https://github.com/phetsims/mean-share-and-balance/issues/35 would be useful. Different question, but same component. Referenced to connect both issues, and leaving open until more feedback and discussion is had.

Removing assignment for designer feedback.

[2022-06-29 16:49] marlitas commented on #64
Removing assignment until designer feedback on size of manipulator is received.

[2022-06-29 16:52] marlitas commented on #63
Implementation not added yet, since the drag functionality has been up in the air for the last few weeks. No obvious CT errors from current approach suggests that this can now be implemented in the code with less chaos in the air.

This seems like a reasonable suggestion. Will proceed to implement unless @amanda-phet says otherwise.

[2022-06-29 17:00] marlitas commented on #54
This was addressed in commit: https://github.com/phetsims/mean-share-and-balance/commit/12ae38cf1909276c31b1f019484feb5aa9675af9

Closing.

[2022-06-29 17:00] #54 closed

[2022-06-29 17:16] marlitas commented on #48
Merge removed. Closing.

[2022-06-29 17:16] #48 closed

[2022-06-29 19:29] marlitas commented on #44
@pixelzoom follow up question to this. On the BeakerNode review you mentioned that super.mutate is not very efficient either. Would setting `this.children = [ child, child ]` and then calling `super.mutate( options )` be more efficient, less efficient, or approximately the same efficiency as `this.addChild` ?

[2022-06-29 20:58] pixelzoom commented on #44
What BeakerNode is doing now is most efficient.  It's setting `options.children`, then calling `super( options )`.

In general, calling `super( options )` is more efficient that `super()` + `this.mutate( options )`. The former initializes correctly. The latter initializes _incorrectly_, then mutates to make things right, so it's doing more work.

So I would only use `super()` + `this.mutate( optio

[2022-06-29 21:51] marlitas commented on #44
Mmm... Okay. @pixelzoom  what is the correct pattern to follow when super needs to be called before children are initialized?

For example: In `IntroScreenView.ts` `super( options )` must be called before some children can be added since `pipeMap` has to be an instance variable to be called from `step()`. Is this a situation where using this.addChild is preferred? Is there another recommended patt

[2022-06-30 12:47] pixelzoom commented on #44
A useful general pattern is to assign your instance to a local `const` before `super` is called, then assign that instance to the field (instance variable) after `super` is called.  In IntroScreenView.ts, create `const pipeMap` before the call to `super`.  Assign to `this.pipeMap` after the call to `super`.  Here's what that looks like:

[code]

This is a pattern than is generally useful, and can

[2022-06-30 14:17] pixelzoom commented on #44
I should also reiterate...  For a small sim, you're unlikely to see much (or any) perceptible difference in performance between `children` vs `addChild`, whether to call `mutate`, etc.   Some developers would argue that you shouldn't worry about it, and only address it if it's a performance problem. I prefer to make "attention to performance" part of my style -- I think it results in a better prod

[2022-06-30 20:45] #57 closed

[2022-07-01 15:16] marlitas commented on #45
@samreid suggested marking MeanShareAndBalanceModel as an abstract class for now as future screens get developed. We do anticipate adding methods or properties so will make abstract for the moment.

[2022-07-01 15:32] marlitas opened #79 "Screen 2 Name: Leveling Out or Fair Share?"
In the design document, we noticed that the Screen 2 heading is titled "Fair Share", but in the mockups the screen is titled "Leveling Out". Screen 3 is also titled "Fair Share".

To @samreid and I, it seems like "Leveling Out" relates more to water, and "Fair Share" relates more to chocolates and cookies. We wanted to confirm screen titles.

Currently the screens are titled as such in some mockup

[2022-07-01 15:59] samreid commented on #35
During the code review, @pixelzoom said:

[2022-07-01 16:52] samreid opened #80 "How to deal with PipeModel Tandem.REQUIRED option?"
In https://github.com/phetsims/mean-share-and-balance/issues/78 @marlitas and I observed this review comment:

[code]

This issue requires further discussion, so we are promoting that REVIEW comment to this issue.

We would like to add `PickRequired<PhetioObjectOptions, 'tandem'>` to the options, but we don't want to remove `tandem: Tandem.REQUIRED` until https://github.com/phetsims/tandem/issues/

[2022-07-01 17:00] samreid commented on #78
For `//REVIEW Needs more description - tell me about "water cup" in this sim.`, @marlitas added documentation in this commit:

https://github.com/phetsims/mean-share-and-balance/commit/a718fa82e0b8df881a14ff45fb66558cdd2880b3

Does that seem sufficient?  We weren't sure if we should add more context or detail.

[2022-07-01 18:31] marlitas commented on #45
`MeanShareAndBalanceModel` is now an abstract class.

[2022-07-01 18:31] #45 closed

[2022-07-05 23:24] samreid commented on #60
Today @marlitas @arouinfar @kathy-phet @amanda-phet @pixelzoom and @zepumph and myself @samreid met to discuss this topic.

The general consensus was that PhetioGroup is essential and important for NaturalSelection and Circuit Construction Kit.  They have a large number of non-reused items.

We decided we wanted to try statically allocating the 2d cups, 3d cups and pipes for this simulation for th

[2022-07-05 23:30] pixelzoom commented on #60
Thanks @samreid, excellent summary.

[2022-07-06 18:51] marlitas commented on #60
Beginning to switch dynamic allocation to static allocation. Certain this will cause testing errors in CT. Will address as quickly and thoroughly as possible, while chipping away at this change.

[2022-07-06 20:41] amanda-phet commented on #79
These are the correct finalized titles.

Screen 1: Intro
Screen 2: Leveling Out
Screen 3: Fair Share
Screen 4: Balance Point

"Leveling out" applies to both the continuous and discrete representations (water and chocolate bars), but we decided we wanted them on separate screens, so water is named Intro.

[2022-07-06 20:47] amanda-phet commented on #63
I am fine with only dragging one slider at a time.

@kathy-phet and @ariel-phet do you agree?

[2022-07-06 22:12] kathy-phet commented on #63
I agree, seems like a fine limitation.

[2022-07-06 22:34] pixelzoom commented on #35
To clarify... My main feedback in this issue is to use fontawesome icons where possible.  In this case, there's zero UX improvement to be gained by using a slightly different "sync" or "refresh" icon, and lots to be gained -- in design, development, and mainteance cost.   PhET had the same problem with the "trash" icon for awhile, and the cost to standardize (ultimately on a fontawesome icon) was

[2022-07-07 15:49] KatieWoe opened #81 "CT Total 2D and 3D water should be equal"
[code]

[2022-07-07 16:35] ariel-phet commented on #35
I have to say I would personally be in favor of a significantly different icon. I don't think the refresh icon communicates what is going on particularly well (and I think sync icons generally refer to something like syncing data between an external hardrive or the cloud or such). Here is a font awesome that I think communicates the action occurring in this sim better:

https://ramptshirts.com/ass

[2022-07-07 17:02] amanda-phet commented on #35
@pixelzoom said

I understand, and am on board with using the same icon as I don't think the difference in icons communicates a difference in functionality. So I'd either want to use the same icon, or consider an entirely different one.

@ariel-phet the line through those arrows looks to me like a negation. What about just two arrows?
![image](https://user-images.githubusercontent.com/7852916/1778

[2022-07-07 17:05] ariel-phet commented on #35
@amanda-phet yes I think that up down arrow would work great. My vote is for an entirely different one so we don't overload the meaning of the "refresh" icon which tends to so far have a specific meaning in lots of our sims (particularly in games).

[2022-07-13 18:48] amanda-phet commented on #63
Thanks @kathy-phet . @marlitas please feel free to go ahead with implementation.

[2022-07-13 18:52] amanda-phet commented on #64
We can make it larger! Is there a default size for this? Maybe we can try the size of the manipulators in the Number Line sims?

[2022-07-13 19:02] amanda-phet commented on #68
I think removing "Show" makes sense and is consistent with Center and Variability. Please go ahead and remove that word @marlitas .

[2022-07-13 19:04] amanda-phet commented on #76
We have not discussed this yet, but I think @marlitas and I can discuss it without needing the entire team. Our agenda is looking fairly packed this week.

[2022-07-13 19:06] amanda-phet commented on #27
Let's review this with the team on Thursday. A lot of discussions and design progress have happened and everyone who wants to weight in should review the latest version.

[2022-07-13 19:11] marlitas commented on #59
All property names changed. Closing.

[2022-07-13 19:33] pixelzoom commented on #59
Reopening.   I don't see any commits associated with this issue.  And I still see the "isShowing" names being used in IntroModel.ts:

[code]

[2022-07-13 19:34] marlitas commented on #62
interruptSubtreeInput implement on auto share value change. Closing.

[2022-07-13 19:34] #62 closed

[2022-07-13 19:45] pixelzoom opened #82 "Field declarations should expose only the API needed."
Noted when reviewing #59 , and for code review https://github.com/phetsims/mean-share-and-balance/issues/41 ...

In IntroModel.ts:

[code]

All of the above declarations should be `Property<boolean>`.  There's nothing about the `BooleanProperty` subclass of `Property<boolean>` that needs to be exposed via the API.  Instantiation using `new BooleanProperty` is correct.

This is not isolated to Intr

[2022-07-13 19:54] marlitas commented on #59
Closing. Commits now pushed up.

[2022-07-13 19:54] #59 closed

[2022-07-13 19:59] marlitas commented on #64
I'll reference NumberLine sims for now, and see if that feels better.

[2022-07-14 20:05] amanda-phet commented on #27
We are considering moving the whole valve over so that it is "centered" when the valve is in the open position.

@marlitas can you let us know when this is ready for review, and possibly add a screenshot here?

[2022-07-14 20:10] amanda-phet commented on #66
Discussed 7/14/22 and would like to leave this control as-is. The text is helpful (e.g. if a teacher is discussing how to calculate the mean, they would say "divide by the total number of cups" or "devide by the number of cups"), and adding another cup to the screen could be too many cups.

The discussion about the number control happened in a previous issue and meetings, and we prefer to use this

[2022-07-14 20:10] #66 closed

[2022-07-14 20:23] amanda-phet commented on #61
In response to the issue about the name of this control, we are considering changing the name for this screen since there isn't really "sharing" on this screen like there will be on the Fair Share screen. We like something like "open all valves" and "close all valves" on two buttons, or keeping the checkbox behavior but calling it something else.

Also considering removing this control, since it e

[2022-07-14 20:30] amanda-phet opened #83 "New starting state for Intro screen"
Discussed 7/14/22

We'd like the sim to start with two cups, the first cup at 80% full and the second at 50% full.

All new cups get added at 50% full.

[2022-07-14 22:51] marlitas commented on #74
Used color property to solve the above question. Closing.

[2022-07-14 22:51] #74 closed

[2022-07-14 23:04] marlitas commented on #64
Seems disproportionately large now... but may be because I'm used to seeing it smaller. I do feel like the triangles on the 3D watercups should be made bigger if we like this size, so that the proportions feel a little more connected across both sets.
<img width="709" alt="Screen Shot 2022-07-14 at 5 00 42 PM" src="https://user-images.githubusercontent.com/42476338/179112940-a1a0772b-0279-4e9f-807

[2022-07-15 15:33] marlitas commented on #63
@samreid and I began to implement the interruption, and found that adding this in was starting to add in complexity.

We tested this hypothesis on iPhone 12, iPad 7th generation, and Pixel 3a and found that the UX was beneficial and did not result in any buggy behavior so far.

Our recommendation based on this exploration is to keep the multi-touch functionality. @amanda-phet and @pixelzoom would

[2022-07-15 18:54] pixelzoom commented on #63
I don't know what your approach is here, or why it's getting complex. I haven't experienced the complexity problem you're describing.   But if you say that multi-touch works OK and cancellig interactions isn't necessary, I'll take your word for it.

[2022-07-18 19:52] KatieWoe opened #84 "CT required tandems must be supplied"
[code]

[2022-07-19 18:59] marlitas commented on #61
Auto-share removed. Closing

[2022-07-19 18:59] #61 closed

[2022-07-19 19:02] marlitas commented on #68
Checkbox labels have been updated accordingly. Closing

[2022-07-19 19:02] #68 closed

[2022-07-19 20:04] #70 closed

[2022-07-20 20:13] marlitas commented on #35
Conversation with @amanda-phet, I will implement, Up Down arrow icon, with "sync" text slightly larger.

[2022-07-20 20:31] marlitas commented on #77
x & y replaced with position. Closing.

[2022-07-20 20:31] #77 closed

[2022-07-20 23:50] marlitas commented on #27
Valve position has been adjusted and is ready for review. Here's a screenshot to look over before tomorrow's meeting.

![Image](https://user-images.githubusercontent.com/42476338/180101504-1c850ad5-f988-40cb-bede-e7747d2c77f8.png)

[2022-07-21 19:12] amanda-phet commented on #27
Reviewed in 7/21/22 design meeting and everyone likes it!

[2022-07-21 19:12] #27 closed

[2022-07-21 19:17] amanda-phet commented on #83
7/21/22 meeting

* discussed different cup levels
* Might not want a cup at 100% since it will be at an extreme, rather than allowing someone to slide both up and down
* We are ok with the "average" being a value that isn't easy to describe other than "halfway between two tick marks"
* AM: If the concern is someone interpreting this question as quantitative, we might want to consider changing the

[2022-07-21 19:29] amanda-phet commented on #64
We reduced the size slightly and are all happy with the medium size.

[2022-07-22 15:37] KatieWoe opened #85 "CT reentry detected, value=true, oldValue=false"
[code]

[2022-07-22 16:11] marlitas commented on #35
@amanda-phet the font-awesome icon you provided is a "pro" icon which we do not have a license for. We are going to create our own that matches as closely as possible!

[2022-07-22 16:13] pixelzoom commented on #35
@marlitas scenes-phet `LineArrowNode` might help you with creation of that icon.

[2022-07-22 16:29] pixelzoom commented on #35
In the above commit, I added feature to `LineArrowNode` to support the "rounded" look of the fontawesome icon. See LineArrowNodeOptions `lineJoin` and `lineCap`.  There's also a demo in the scenery-phet _Components_ screen, screenshot below:

<img width="377" alt="screenshot_1794" src="https://user-images.githubusercontent.com/3046552/180483407-bb675847-264f-4cce-bb03-290839784aeb.png">

[2022-07-22 16:30] pixelzoom commented on #35
In the above commit, I added feature to `LineArrowNode` to support the "rounded" look of the fontawesome icon. See LineArrowNodeOptions `lineJoin` and `lineCap`.  There's also a demo in the scenery-phet _Components_ screen, screenshot below:

<img width="377" alt="screenshot_1794" src="https://user-images.githubusercontent.com/3046552/180483407-bb675847-264f-4cce-bb03-290839784aeb.png">

[2022-07-22 17:07] marlitas commented on #35
@pixelzoom thank you for those quick option additions. Very helpful!

Here is a screenshot of the updated sync icon:
<img width="257" alt="Screen Shot 2022-07-22 at 11 05 43 AM" src="https://user-images.githubusercontent.com/42476338/180489420-bbf9aca5-2472-4ccf-93c2-b5ac33c1fe42.png">

@samreid and I drew this out to match the font-awesome icon as much as possible. We believe some adjustments may

[2022-07-22 19:13] amanda-phet commented on #35
That looks good to me!

[2022-07-22 20:10] marlitas commented on #35
Awesome! Will close. If further discussion is needed feel free to re-open!

[2022-07-22 20:10] #35 closed

[2022-07-22 21:05] marlitas commented on #85
Fixed in above commit. Closing.

[2022-07-22 21:05] #85 closed

[2022-07-22 21:50] marlitas commented on #83
New starting state implemented. Unassigning and leaving open for @amanda-phet if you would like to use this issue during interviews. If not, feel free to close!

[2022-07-22 23:20] marlitas commented on #30
Auto share functionality was removed from this screen. Closing.

[2022-07-22 23:20] #30 closed

[2022-07-22 23:25] marlitas commented on #65
Putting light on this issue now that https://github.com/phetsims/mean-share-and-balance/issues/35 has been settled. The font size has also been corrected to match other text.

@amanda-phet let me know if there are further pixel polishes you would like with this button.

[2022-07-22 23:26] marlitas commented on #34
Closing since tick marks on bottom beakers have been approved in past design meetings.

[2022-07-22 23:26] #34 closed

[2022-07-22 23:30] marlitas commented on #42
Closing. This issue is no longer needed to track patches.

[2022-07-22 23:30] #42 closed

[2022-07-25 22:09] marlitas commented on #22
Haven't seen this issue come up in CT since committing a fix on June 15th. Closing.

[2022-07-25 22:09] #22 closed

[2022-07-25 22:10] marlitas commented on #28
Have not seen this issue come up on CT since switching to static allocation. Closing.

[2022-07-25 22:10] #28 closed

[2022-07-25 22:12] marlitas commented on #64
This has been addressed, reviewed, and approved in design meeting. Closing.

[2022-07-25 22:12] #64 closed

[2022-07-26 17:43] amanda-phet commented on #65
I think this can be closed now. Thanks @pixelzoom and @marlitas !

[2022-07-26 17:43] amanda-phet commented on #83
Looks good to me. Thanks!

[2022-07-26 17:43] #83 closed

[2022-07-26 17:49] marlitas commented on #82
@pixelzoom I have tried changing the declaration of `NumberProperty` to `Property<number>` and am receiving the following type error:

[code]

I receive a similar error with `BooleanProperty` to `Property<boolean>` as well. I am not sure if this is user error, or the way these properties are being used in the sim that is preventing me from successfully implementing this.

[2022-07-26 17:54] Nancy-Salpepi opened #86 "Arrow isn't always at water level"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/821

If I change the water level in a cup and then remove that cup, when I re-add it to the scene, the water level is at half, but the arrow is in the wrong place. The arrow seems to be where the water level was before I removed that cup.

**

[2022-07-26 18:02] Nancy-Salpepi commented on #86
not seen in dev.4

[2022-07-26 18:05] marlitas commented on #86
Pushed a fix up to master. Will update the dev build so this does not disturb any other testing.

[2022-07-26 20:08] Nancy-Salpepi opened #87 "Lag when filling empty cup"
**Test device**
MacBook Air (m1chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/821
After removing all the water from the cups, if I then fill a cup without having taken my finger off the trackpad, there is a delay. I don't see the cup filling, but instead jumps to the cup already filled.

**Steps to reproduce**
1. Open t

[2022-07-26 20:11] Nancy-Salpepi commented on #87
not able to reproduce in dev.4

[2022-07-26 20:32] marlitas commented on #86
Yay! Closing as completed.

[2022-07-26 20:32] #86 closed

[2022-07-26 20:53] KatieWoe opened #88 "Water re-balances when cups are added and removed"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/821
Back in dev.4, if the cups were connected and you removed a cup, the water in the remaining cups would jump to be in sync with the lower beakers, then rebalance. When you added a cup this did not happen. In the new dev version this rebalance also happens when ad

[2022-07-26 22:25] KatieWoe opened #89 "Debug Console Error"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox and Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/821
When running a fuzz test in the debug version of the sim, this console error appeared and continued to appear with a frozen sim. I'm not sure how it occurred, but the error seems to indicate trying to add and/or remove a cup at the same time.

**Visu

[2022-07-26 22:50] KatieWoe commented on #29
This looks fixed to me in dev.5 and 6. The responsiveness still slows towards the end, but you can empty all the glasses.

[2022-07-26 22:58] marlitas commented on #88
@amanda-phet, @KatieWoe brought this up to me over a zoom meeting and I wasn't sure what the preferred behavior is so I asked her to make an issue so that you could weigh in. Not sure which would be best for the pedagogical experience.

[2022-07-26 23:42] marlitas commented on #82
@zepumph helped me make sense of some of the type errors that came up when I tried this. I believe everything that could be converted has been converted, so sending over to @pixelzoom for a final look-over before closing.

[2022-07-27 00:41] marlitas commented on #81
It appears this error is no longer happening in CT. closing.

[2022-07-27 00:41] #81 closed

[2022-07-27 00:46] Nancy-Salpepi opened #90 "Home/End keys don't jump to min/max when valve is open"
**Test device**
MacBook Air (m1 chip)

**Operating System**
MacOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/821, when the valve is open between 2 cups, pressing the home/end keys (fn + left/right arrows on the mac) doesn't result in the cup becoming completely full or empty. When the valve is closed, the home/end keys work properly.
This is also pr

[2022-07-27 00:48] marlitas commented on #80
https://github.com/phetsims/tandem/issues/253 has been closed, and this issue has been dealt with accordingly, by removing Tandem.REQUIRED and replacing with a PickRequired. Closing.

[2022-07-27 00:48] #80 closed

[2022-07-27 01:01] Nancy-Salpepi commented on #90
the page up/down keys seem to be working correctly

[2022-07-27 15:54] marlitas commented on #88
Design Meeting 7/27:
- We would like to remove the re-balancing every time a cup is added.
- Remove the re-balancing any time a cup is removed where the 2D & 3D cup water levels match.
- We are going to add a query parameter that allows us to see both animated and instantaneous re-balances.
- Once we see this we can potentially brainstorm other ways to point out the change.

[2022-07-27 15:59] amanda-phet commented on #63
I discussed this with the developers and if multi-touch is working well, I'd like to keep it. It doesn't seem to have a problem with multi-touch right now, and seems like a benefit to allow it.

@KatieWoe can you and the QA team be sure to look at multi-touch in this sim?

[2022-07-27 18:34] Nancy-Salpepi opened #91 "Pressing Sync doesn't interrupt filling/emptying cup"
**Test device**
iPad Air 2

**Operating System**
15.5

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/821, when emptying and filling the cup with one finger, pressing the Sync button with another finger doesn't interrupt the first action. In dev.4 pressing the Sync button does interrupt that action.

**Steps to reproduce**
1. With one finger continually empty

[2022-07-27 18:58] marlitas commented on #91
@Nancy-Salpepi I just pushed a fix to master. Can you double check that this is working as expected with multi-touch?

[2022-07-27 19:03] marlitas commented on #89
I have been unable to recreate this on my local machine using the query params: `debugger` and `fuzz`. It may be that I coincidentally fixed it in a different bug fix commit. However I'm not honestly sure what changes I did would have fixed a cup removal or addition bug.

I will keep an eye out for this the next few days, and this assertion should come up on CT as well if it is still there.

[2022-07-27 19:08] Nancy-Salpepi commented on #91
I wasn't sure if I should make this a separate issue or not, but I found it odd that removing the cup that I am emptying/filling doesn't interrupt the action. When I re-add the cup, my finger movement is emptying and filling that cup.

Steps:
1. With one finger continuously empty and fill the second cup
2. With a second finger, reduce the number of cups to 1
3. Increase the number of cups to 2

[2022-07-27 19:15] marlitas commented on #91
@Nancy-Salpepi that does seem like odd behavior for multi-touch. To me this is a reasonable enough argument to interrupt any actions when a cup is added or removed.

@amanda-phet  wanted to get your thoughts also in case you disagree or other scenarios where this could be undesirable come up.

In the meantime I'll go ahead and implement since it's easy to remove.

[2022-07-27 19:32] Nancy-Salpepi commented on #91
@marlitas it seems extremely odd that I would be able to empty/fill a cup that doesn't exist. I think the behavior should definitely be interrupted if the cup is no longer present.

I'll let @amanda-phet weigh in on whether or not adding/removing a cup should interrupt all actions (For example, if I am emptying/filling cup 1 and I add a 3rd cup at the same time, should the first action be interrup

[2022-07-27 19:34] Nancy-Salpepi commented on #91
@marlitas pressing Sync now interrupts emptying/filling action.

[2022-07-27 21:04] samreid commented on #75
We also used the new feature `deriveAny` from https://github.com/phetsims/axon/issues/406.

[2022-07-27 21:04] samreid commented on #75
@marlitas and I collaborated on this, and it seems ready for review.  Thanks for the great recommendation!

[2022-07-28 19:19] Nancy-Salpepi commented on #90
also seeing this issue with the Chromebook

[2022-07-28 21:50] marlitas commented on #89
It looks like this error is not coming up on CT either. Closing.

[2022-07-29 13:58] Nancy-Salpepi commented on #29
I see the same thing as @KatieWoe--the cups empty but it slows down.
I was able to remove all the water with touch as well.

[2022-07-29 16:17] marlitas commented on #88
Added logic that removes the re-balancing animation anytime a cups is added or when a cup is removed and it's 2D & 3D representation water levels match. Have not implemented Query parameters yet, but this seems like a good point for a dev build that @amanda-phet can use for interviews.

Will work on getting query parameters up and running by next week.

[2022-07-29 16:29] marlitas commented on #71
Went through repo to double check that coupling to IntroModel was reduced as much as seems reasonable. Sending back to @pixelzoom for final review.

[2022-07-29 16:29] marlitas commented on #72
Visibility properties have been moved to the view. Thanks for the suggestion!

[2022-07-29 16:29] #72 closed

[2022-07-29 19:45] marlitas commented on #88
Retracting comment above. @amanda-phet the dev build will have query parameters for turning on/off animation when cups are added or removed. The query param is: `showAnimation=false` (to turn off)

The query parameter defaults to true.

Assigning back to @amanda-phet for review and feedback.

[2022-07-29 21:41] marlitas commented on #29
With good feedback from QA I am closing this issue. Thanks all!

[2022-07-29 21:41] #29 closed

[2022-07-29 22:06] marlitas commented on #84
I haven't seen this error come up for a while, so closing.

[2022-07-29 22:06] #84 closed

[2022-07-29 22:22] KatieWoe commented on #89
I am seeing this in CT
[code]

[2022-08-01 15:46] samreid commented on #87
@marlitas and I committed a workaround that seems to be working well.  We opened https://github.com/phetsims/kite/issues/98 for the underlying problem, which can be solved separately.

[2022-08-01 15:47] samreid commented on #87
@Nancy-Salpepi can you please confirm this fix in phettest?

[2022-08-01 16:29] Nancy-Salpepi commented on #87
@samreid It still looks the same to me on Master with Mac 12.5 + Safari. If I pause briefly once I empty the second cup without letting go of the mouse, and then move to fill the cup--there is still a delay and I don't see the water balancing itself.

https://user-images.githubusercontent.com/87318828/182197950-02cf5994-88d6-47bc-bb45-ed1d4e71eb75.mp4

[2022-08-01 17:09] marlitas commented on #87
@Nancy-Salpepi we observed on phettest that the code being run is stale, and our updates have not been pulled in yet.
![Screen Shot 2022-08-01 at 12 08 18 PM](https://user-images.githubusercontent.com/42476338/182204566-d9685a3f-8c7d-492d-acee-cc3021265ab8.png)

Can you try pulling all of the out-of-date repos and try again?

[2022-08-01 18:38] Nancy-Salpepi commented on #87
Sorry about that @marlitas!
It looks much better, but if I repeatedly empty/fill the cup without lifting my mouse, the issues appears.

https://user-images.githubusercontent.com/87318828/182219980-10795143-dab0-438a-87e9-15c46d811892.mp4

[2022-08-01 18:43] marlitas commented on #87
Mmmm. I see that. In that case I think fully fixing this problem is currently blocked by: https://github.com/phetsims/kite/issues/98

Will try to schedule time with @jonathanolson to find a fix or another workaround.

[2022-08-01 20:04] samreid commented on #87
@marlitas and I also reached out to @Nancy-Salpepi to make sure that a cache-busting strategy was in place, to make sure it wasn't running stale, cached code on phettest.

[2022-08-01 20:14] Nancy-Salpepi commented on #87
I'm so sorry @samreid @marlitas. I thought I had cleared my history before I pulled all but I hadn't. Your workaround is working perfectly.

[2022-08-01 20:17] Nancy-Salpepi commented on #87
I'll check other platforms as well

[2022-08-01 20:31] Nancy-Salpepi commented on #87
Looks good on Win10 Chrome and Firefox too! The workaround is definitely working!

[2022-08-01 21:47] marlitas commented on #53
WaterTriangle now inherits from VSlider. Closing.

[2022-08-01 21:47] #53 closed

[2022-08-01 22:22] marlitas commented on #87
Perfect! I'm going to say this is done then. Closing.

[2022-08-01 22:22] #87 closed

[2022-08-02 13:52] #89 closed

[2022-08-03 04:23] samreid commented on #67
I recall our decision to partition out the different options, and we sometimes include a `// phet-io` header for that section.  But I feel this is somewhat less important with TypeScript since it is easy to see where each option is defined.

[2022-08-03 17:31] samreid commented on #71
While @marlitas and I were working on https://github.com/phetsims/mean-share-and-balance/issues/90 we found a better solution for this problem.

The original code passed in the entire model:

[code]

which is overcoupling.  The code review recommendation above was:

So @marlitas made a change and made the code read like so:

[code]

However, this has several negative ramifications.  Most important

[2022-08-04 15:15] pixelzoom commented on #82
👍🏻 closing.

[2022-08-04 15:15] #82 closed

[2022-08-04 15:16] pixelzoom commented on #71
👍🏻 This is a nice alternative, and a nice use of structural typing.

[2022-08-04 15:24] pixelzoom commented on #75
Looks good.  A couple of nits...

*  This comment means nothing to me. Maybe say it differently or more verbosely.  Is it saying something about the internal implementatioin of  DerivedProperty? If so, what if that changes?

[code]

* Since it's public-facing... The `phetioDocumentation` for `meanProperty` is very difficult to read/parse, because it's contains compound adjectives that are not prop

[2022-08-04 15:30] pixelzoom commented on #75
Maybe the comment is trying to explain why `dependencies` is an array, and not a map?  If so, the comment probably belongs on the definition of `const dependencies`.  But even then, you still need to use the spread operator (...) to combine the maps into one array.  So maybe the comment is unnecessary?

[code]

[2022-08-04 15:51] KatieWoe opened #92 "CT Total 2D and 3D water should be equal"
[code]

[2022-08-05 16:04] marlitas commented on #92
This is associated with changes for: https://github.com/phetsims/mean-share-and-balance/issues/90

[2022-08-08 16:33] samreid opened #93 "Credits"
We are getting close to RC and it would be good to finalize the credits.

[2022-08-08 16:38] samreid commented on #93
@KatieWoe provided the QA credits.  @amanda-phet can you please specify the team, thanks and graphicArts, and anything else that needs help?

[2022-08-08 18:31] amanda-phet commented on #93
team and thanks are all set. For graphicArts, we should credit Mariah Hermsmeyer.

[2022-08-08 18:32] amanda-phet commented on #93
Done in the above commit. Closing.

[2022-08-08 18:32] #93 closed

[2022-08-08 19:02] marlitas commented on #90
@Nancy-Salpepi this was a big code change to address this fix, but we think we figured it out!

Could you test on phettest to make sure home/end keys are working as expected, and do a check on behavior when dragging water between connected cups? We had to change the logic, and I want to make sure that by fixing home/end we didn't break multi-touch or mouse dragging.

Thanks!

[2022-08-08 19:04] marlitas commented on #71
Keeping this open for Dev Meeting PSA. Will close after.

[2022-08-08 20:15] marlitas commented on #92
It's looking like some fixes we implemented at the end of last week for https://github.com/phetsims/mean-share-and-balance/issues/90 are working. Not seeing this error in CT anymore. Closing.

[2022-08-08 20:15] #92 closed

[2022-08-08 20:21] Nancy-Salpepi commented on #90
The home/end keys are working as they should @marlitas!
One thing I did notice is that when going from min/max values, the cup to the left of the one you are adjusting will shoot to its final value instead of changing slowly like the other cups do.
For example, watch the cup in the middle in the video:

https://user-images.githubusercontent.com/87318828/183507135-a6fd9ae7-cd80-41ee-a8aa-290ce69f81

[2022-08-09 01:08] marlitas commented on #75
Documentation updated in above commit. Hopefully this clarifies the comment before meanProperty. I do not fully understand the typing restrictions on derivedProperty, I just know they exist, so if further clarification is needed I'll reach out for assistance.

Assigning back to @pixelzoom for reaview.

[2022-08-09 17:25] marlitas commented on #78
All review comments have been addressed. Closing.

[2022-08-09 17:25] #78 closed

[2022-08-09 19:02] Nancy-Salpepi commented on #90
Here is a video with all 7 cups. Cups 1,2, 5, 6 & 7 are all doing the same thing as I change the value of Cup 4 from min to max. Cup 3 seems to mirror the changes I am making to cup 4--at least when I jump to max.

https://user-images.githubusercontent.com/87318828/183740234-975a86a4-0980-4115-ac1e-b928e59c2fba.mp4

[2022-08-10 16:51] marlitas commented on #56
Renamed ranges for clarity, and added a WATER_LEVEL_RANGE to be used when possible. Closing.

[2022-08-10 16:51] #56 closed

[2022-08-11 18:22] jessegreenberg commented on #71
8/11/22 dev meeting -

This was shown to the team - people thought it was cool and agrees it provides the benefits of decoupling and IDE navigation. Devs will start to use this.

This example is already in the code review checklist, great!

[2022-08-12 21:29] pixelzoom commented on #75
👍🏼 closing.

[2022-08-12 21:34] #75 closed

[2022-08-15 14:48] marlitas commented on #71
Since this issue has been discussed and I don't see any follow up steps that need to be taken I am closing. Feel free to re-open if you feel otherwise.

[2022-08-15 14:48] #71 closed

[2022-08-16 21:45] marlitas opened #94 "Toggle Pipes Open/Closed state"
In the design document the problem with the current logic/behavior of the sim was described as:

After multiple design meetings on 8/16/22 we decided to eliminate the individual opening and closing of pipes, and instead create a toggle option that opens or closes all of the pipes. When pipes are closed the data sets "sync", when pipes are open, the water will be shared among all of the 2D cups.

[2022-08-17 22:18] marlitas commented on #90
We are working on fixing the animation. This is a patch for animation that ripples outward:

<details>

[code]
</details>

[2022-08-18 02:31] marlitas commented on #94
patch for pencil icon on predict slider

<details>

[code]

</details>

[2022-08-18 02:34] marlitas commented on #94
Screen is ready for some initial feedback on the new toggle state. There are a couple of animation quirks we're still working on with the cups related to another issue, but if you do see anything that looks really buggy please let me know!

Assigning those that have been part of design meetings for this change. Changes are all pushed to master.

[2022-08-18 15:29] KatieWoe opened #95 "CT phetioID already registered: meanShareAndBalance.introScreen.view.ValveNode"
[code]

[2022-08-22 15:48] samreid commented on #3
Initial sprint complete, nice work @marlitas!  Closing.

[2022-08-22 15:48] #3 closed

[2022-08-22 15:54] samreid commented on #33
@marlitas and I observed that the model.md file needs to be adjusted based on recent design and implementation changes, thanks!

[2022-08-22 15:55] samreid commented on #36
@marlitas and I observed that the documentation needs to be adjusted based on recent design and implementation changes, thanks!

[2022-08-22 16:48] samreid commented on #37
We think this was fixed after we abandoned PhetioGroup, closing.

[2022-08-22 16:48] #37 closed

[2022-08-22 16:53] samreid opened #96 "Water line level doesn't match the water level, even when cups were disconnected"
In testing https://github.com/phetsims/mean-share-and-balance/issues/60, @marlitas and I observed that the water line level didn't match the water level, even when cups were disconnected:

<img width="247" alt="image" src="https://user-images.githubusercontent.com/679486/185976205-2e3835b2-d1c7-4f96-8fd3-f7f308aa82d2.png">

[2022-08-22 16:55] samreid opened #97 "In state wrapper, on reset all, it takes 2 state sets to get to the correct state"
Discovered by me and @marlitas in https://github.com/phetsims/mean-share-and-balance/issues/60, we saw that if you change the water amount in cup 1 and cup 2 in the state wrapper, then press reset all, it takes 2 state sets to get back to the initial state.  The 1st time, the 2d cups have a temporary incorrect value.

[2022-08-22 16:58] samreid commented on #60
All known problems moved to side issue, everything else looks great here. Nice work @marlitas! We recommend @pixelzoom re-review significant changes like this, but it's not clear whether we should do that one-at-a-time or wait until we are closer to the RC.  @pixelzoom what do you recommend?

[2022-08-22 16:59] #38 closed

[2022-08-22 16:59] #39 closed

[2022-08-22 17:00] #40 closed

[2022-08-22 17:45] pixelzoom commented on #60
There's a duplicate phetioID that's preventing this sim from loading in Studio:

[code]

So I can't proceed with review of this issue. Please assign back to me when it's fixed.

[2022-08-22 17:50] marlitas commented on #60
Fixed! Assigning back to @pixelzoom

[2022-08-22 18:00] pixelzoom commented on #60
I skimmed the commits and played with the sim in Studio. This all looks very nice.

One question... Has the PhET-iO designer (@amanda-phet?) been consulted about whether to use zero-based numbering for cups and pipes? You're currently using zero-based numbering, where "the first cup" is `waterCup2D0`.    Cups and pipes are not numbered in the UI, so this may be OK.  But it's worthing checking with

[2022-08-22 18:03] marlitas commented on #95
Fixed. Closing.

[2022-08-22 18:03] #95 closed

[2022-08-22 18:06] marlitas commented on #79
Thanks, this answered my question. Closing!

[2022-08-22 18:06] #79 closed

[2022-08-22 18:12] marlitas commented on #43
I will say that my main reason is consistency. Coming in and building this out it was nice to have that pattern at the top of every constructor. It was one less thing to have to keep track of, as well as allowed for easy scaling if a class did need options down the line. However, I see how this is not necessary and will refactor to eliminate in classes that are not using options at all.

[2022-08-22 18:24] marlitas commented on #43
Sending back to @pixelzoom for re-review. Do these changes feel more appropriate to PhET patterns and conventions?

[2022-08-22 18:28] marlitas commented on #47
This issue is on hold until designer feedback for https://github.com/phetsims/mean-share-and-balance/issues/76 is provided

[2022-08-22 18:30] marlitas commented on #49
Since moving everything to static allocation, disposal is no longer required for any of the elements in this screen. Closing.

[2022-08-22 18:30] #49 closed

[2022-08-22 18:31] marlitas commented on #50
This is no longer applicable since moving to static allocation. Closing.

[2022-08-22 18:31] #50 closed

[2022-08-22 18:31] pixelzoom commented on #43
Thanks for explaining the motivation.

There doesn't really seem to be a PhET pattern/convention for this (should there be?), so I can't evaluate your changes in that context.  And like I said initially, I can see value (consistency) in the way that you did this initially.    Your solution in https://github.com/phetsims/mean-share-and-balance/commit/c402c5a3e458ceecde2136b8cf23157c57be2675 seems n

[2022-08-22 18:33] marlitas commented on #51
This issue was addressed in the above commit. Closing.

[2022-08-22 18:33] #51 closed

[2022-08-22 18:39] marlitas commented on #55
Did a search and fixed all the instances I was able to find. Back to @pixelzoom for re-review.

[2022-08-22 18:43] marlitas commented on #67
I'm a little uncertain what to do with this issue... is there a convention I should be following? It makes sense to organize the options in a way that's consistent and legible, so I can move forward on that?

[2022-08-22 18:47] marlitas commented on #96
Fixed in above commit.

[2022-08-22 18:47] #96 closed

[2022-08-22 18:47] pixelzoom commented on #67
I will defer to the PhET-iO team on this one.  The convention has been to group all PhET-iO default under `// phet-io`, towards the end of the object literal.  I don't fell strongly about whether this is necessary.  I do think it's nice to group all of the PhET-iO defaults together, a11y defaults together, superclass defaults together, etc.

[2022-08-22 18:50] pixelzoom commented on #67
Nothing in https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-technical-guide.md by the way, so if there's a convention, it's not documented.

[2022-08-22 18:55] marlitas commented on #43
These changes work for me, and reduce unnecessary work with an empty optionize call. Thanks for the feedback @pixelzoom! Closing.

[2022-08-22 18:55] #43 closed

[2022-08-22 18:59] marlitas commented on #67
I will go ahead and move forward on grouping PhET-iO related options together at the end of the object literal. Seems to provide clarity, and I would probably recommend adding this as a convention to the phet-io instrumentation guide if this is something we want new devs to be aware of. @samreid  and @zepumph... thoughts?

[2022-08-22 19:03] marlitas commented on #60
This has not been solidified by design. I believe it was briefly mentioned in the dynamic vs. static meeting about using zero-based numbering, but I don't have documentation to confirm. Assigning to @amanda-phet to get feedback.

[2022-08-22 19:10] zepumph commented on #67
This is where we documented it. Generally for all options grouping, not just for `// phet-io`. It did not get moved into the typescript conventions. I don't care at all about grouping them, I think it is up to new devs if it was a helpful thing to see when discovering new code (even though TypeScript shows where each option comes from). I'll do either (and will likely keep grouping options togethe

[2022-08-22 20:11] pixelzoom commented on #60
Also noting that whether to prefer zero-based vs one-based numbering in PhET-iO tandem names may be a more general discussion.  It may be related to who we think the instructional designers will be, and whether they can "think like a programmer" (zero-based) or not (one-based).   And of course their will be sim-specific cases (like Fourier) where tandem numbering should presumably match UI numberi

[2022-08-22 20:12] kathy-phet commented on #60
@JacquiHayes - Feel free to put on your "instructional designer" hat and comment on numbering in PhET-iO groups in general.

[2022-08-22 20:18] pixelzoom commented on #67
In TypeSript code, I've found it more useful to group default values by the type that they are associated with.  I generally put SelfOptions values first, followed by superclass options. For example, in geometric-optics LabelNode.ts:

[code]

[2022-08-22 21:51] pixelzoom commented on #55
👍🏻 closing.

[2022-08-22 21:51] #55 closed

[2022-08-23 02:41] JacquiHayes commented on #60
In static cases, where you have a small number of elements to be named, I feel like the numbers should match the natural numbers (one-based). Cup 1 to Cup 7.

Generally, I assume that our IDs are using platforms that already have a numbering system in play.

For some platforms, the developers will have created zero-based numbering systems, others would have converted their numbering system to one-

[2022-08-23 12:57] marlitas commented on #91
We no longer have a sync button. Closing.

[2022-08-23 12:57] #91 closed

[2022-08-23 13:13] marlitas commented on #33
model.md has been updated to reflect the most recent changes to the intro screen. @pixelzoom, can you review the changes?

[2022-08-23 15:59] marlitas commented on #90
This is ready for a QA check from @Nancy-Salpepi again. Thanks!

[2022-08-23 16:40] marlitas commented on #41
All `REVIEW` comments have been addressed and any remaining code review topics are in side issues. Closing. Thanks for the review @pixelzoom!

[2022-08-23 16:40] #41 closed

[2022-08-23 16:56] marlitas commented on #46
MeanShareAndBalanceScreen has been deleted, and `backgroundColorProperty` and `keyboardHelpNode` options have been moved to the appropriate classes. Closing.

[2022-08-23 16:56] #46 closed

[2022-08-23 17:10] pixelzoom commented on #33
Looks good to me. But the designer typically signs off on model.md, so assigning to @amanda-phet for review.

[2022-08-23 17:18] pixelzoom commented on #36
Looks good. I made a few commits (see above).  In addition to a couple of typos, we typically provide links to source code, so I added those. Let me know if you have questions. Feel free to close after reviewing.

[2022-08-23 17:20] samreid commented on #60
We agreed months ago to use 0-based indexing unless there is a special case where there is a domain-specific constraint (such as in Fourier). However, (a) I could not find a paper trail for that decision and (b) it could be that we now want to overturn that decision. Perhaps @zepumph knows more?  Maybe best to chat in an upcoming zoom meeting since it seems there is disagreement here.

[2022-08-23 17:23] pixelzoom commented on #58
So to clarify...  For the recommendations in https://github.com/phetsims/mean-share-and-balance/issues/58#issue-1287917435, you've done (1) and (3).  And your question is about how to approach (2).  Is that correct?

[2022-08-23 17:23] marlitas commented on #88
This issue no longer exists with the new pipe toggle state. Closing.

[2022-08-23 17:23] #88 closed

[2022-08-23 17:24] marlitas commented on #97
Fixed in the above commit. Closing.

[2022-08-23 17:24] #97 closed

[2022-08-23 17:27] marlitas commented on #36
Looks great. Thanks for the fixes! Closing.

[2022-08-23 17:27] #36 closed

[2022-08-23 17:28] marlitas commented on #58
Yes, sorry about that confusion. The question specifically relates to (2).

[2022-08-23 17:30] pixelzoom commented on #60
If a convention was established, this developer is not aware of it, and can find no documentation.  So I thought it was worth discussing. I also think that the convention that should be set by non-programmers, because programmers (incorrectly) think that non-programmers understand 0-based numbering.

[2022-08-23 17:36] pixelzoom commented on #58
I need more context. I only see 2 screens in the sim, and I don't see any commonality in controls.  Do you have screenshots to demonstrate what the commonality looks like.

And what is `dataState`?  Do you mean `this.dataStateVBox` in MeanShareAndBalanceScreenView.ts?

[2022-08-24 12:34] Nancy-Salpepi commented on #90
@marlitas the changes to the water levels in the cups on either side of the one I am emptying/filling look different than the rest of the cups.

https://user-images.githubusercontent.com/87318828/186419047-af7238aa-4505-477d-b262-688866c3bf20.mp4

[2022-08-24 12:35] Nancy-Salpepi commented on #90
I also noticed that keyboard nav skips over the Valve toggle and Number or Cups. Let me know if you want me to make a new issue for that or if that is on your list already 🙂.

[2022-08-24 15:04] marlitas opened #98 "Predict Mean Slider style"
This issue will be used to track the design options and decisions for the `predictMeanSlider` in the Intro Screen.

[2022-08-24 15:18] samreid commented on #98
@marlitas worked with @jonathanolson on the pattern/dash stroke.  There was a GitHub issue with adding images to comments so I added them from my side:

<img width="267" alt="image" src="https://user-images.githubusercontent.com/679486/186456514-0a6cad4f-8552-4100-b02b-cc0dbcdfb23a.png">

<img width="916" alt="image" src="https://user-images.githubusercontent.com/679486/186456621-aa7d9715-2826-40d

[2022-08-24 15:22] samreid commented on #90
We intentionally designed it to have a "ripple out" effect because we thought it would feel more physical and playful.

Will be covered in https://github.com/phetsims/mean-share-and-balance/issues/76, thanks!

@Nancy-Salpepi anything else for this issue?  Please close if all is well.

[2022-08-24 15:33] Nancy-Salpepi commented on #90
Thanks for the explanation @samreid! Makes sense!
Nothing more here.

[2022-08-24 15:33] #90 closed

[2022-08-24 16:39] KatieWoe opened #99 "CT Perennial task failed"
[code]

[2022-08-24 20:00] samreid opened #100 "Updates regarding PhET-iO and state"
During https://github.com/phetsims/axon/issues/409 I noticed some PhET-iO state parts that needed to be updated.  I'll commit the changes then request review from @marlitas.

[2022-08-24 20:02] samreid commented on #100
Fixed, @marlitas can you please review?

[2022-08-24 20:23] samreid commented on #99
The problem is that it thinks `simStrings.myStringProperty.link(...)` is a nested string named `link`.  @jonathanolson how can this be solved?

[2022-08-24 21:27] zepumph commented on #99
In my opinion it would be best to prohibit this usage instead of further complicating the the regex in getStringMap (used in the built to find the used string keys).

Is that acceptable to you? If so, we just need a way that this can error out way upstream of needing to build the sim to find out.

[2022-08-24 22:32] marlitas commented on #100
The only thing I noticed is that you removed `phetioReadonly: true` from `MeanProperty`. I don't think that should change. It would be strange if clients are able to change the value of MeanProperty since it's a calculation based on the content of the 3D cups. I don't think we should allow those to get separated.

[2022-08-24 23:23] samreid commented on #100
I observed that DerivedProperty defaults to `phetioReadonly: true` so I thought it did not need to be repeated in the subtype.  Maybe we should even remove phetioReadonly from the DerivedProperty options?  I'm not sure about that.

[2022-08-25 00:32] samreid commented on #99
@marlitas and I discussed that it would be unfortunate if our code has a `Property` that we are unable to call `link` or `unlink` or `debug` or `.value` on.  We also discussed that if more code had support to accept `Property<string>` arguments, like SCENERY/Text does, then our need to call those methods would be reduced.

[2022-08-25 16:08] marlitas commented on #58
@pixelzoom here is the link to the design document: https://docs.google.com/document/d/1B76VP6M6_-CNkf1PeyVO6Ymut3s3wxJdq8SSPtGGb9Y/edit?usp=sharing

All the screens share a number spinner, and have either an accordion or checkbox control panel in the top right, and some type of button/switch to control the state of the data representations. It's been mentioned in design meetings that the layout o

[2022-08-25 16:38] marlitas commented on #100
Ahhh okay. Yes I see. If setting `phetioReadonly: false` does actually allow clients to change the value then that seems okay, however if specifying that option doesn't do anything then does does feel rather confusing and mischievous. I'll revert that previous commit and close.

[2022-08-25 16:55] #100 closed

[2022-08-25 17:43] marlitas commented on #67
Categorized and organized options with `phet-io`. @pixelzoom can you review, and close if all looks good?

[2022-08-25 17:52] samreid commented on #99
At today's meeting,

@pixelzoom reports that it would be helpful to link to the Property instances.
@jonathanolson says we can update the rule, so that if it detects something that ends with `StringProperty` then it will stop the regex search.  Or we could add an acceptable list of things like `link`, `unlink`, `.value` etc.  If we have a rule that no string keys contain the text `'StringProperty'

[2022-08-25 18:41] marlitas commented on #44
Ran into `hasChild needs to be called with a Node` assertions. I thought I navigated them all, but am still running into the problem, and don't fully understand why.  Will pair with @samreid on this. The following is the patch that got me here.

<details>

[code]
</details>

[2022-08-25 22:32] pixelzoom commented on #67
👍🏻 closing

[2022-08-25 22:32] #67 closed

[2022-08-25 22:42] pixelzoom commented on #58
I've reviewed the mockups in the design doc. I don't see any need to instantiate empty containers in a ScreenView based class. Define options to be shared by the controls and layouts that you want to be the same.  Use those options for all screens where you want similar configuration.

In the Mean screen, I'd create classes MeanCheckboxGroup and NumberOfCupsSpinner.

In js/common/view, I'd create

[2022-08-25 22:42] marlitas opened #101 "Cup Water Level line"
This issue will track design choices and development implementations for the cup water level line and checkbox.

[2022-08-25 22:45] marlitas commented on #101
The `cupWaterLevelLine` is ready for design feedback and review. I know you were wanting to change the coloring, or some other aspects of the line @amanda-phet, so just let me know what you're thinking.

This is the current implementation.
<img width="821" alt="Screen Shot 2022-08-25 at 4 43 45 PM" src="https://user-images.githubusercontent.com/42476338/186781543-05db58b9-d704-4dff-b766-714db654c3

[2022-08-26 14:39] marlitas opened #102 "Table & Notebook Paper Cup Spaces"
This issue will track changes, design decisions, and feedback for the two data spaces in the intro screen.

Initial Mock-Up for the separate data spaces:
<img width="631" alt="Screen Shot 2022-08-26 at 8 45 47 AM" src="https://user-images.githubusercontent.com/42476338/186931226-7844cd8c-cec6-44e3-adf8-6a64c6ae7dfb.png">

[2022-08-26 14:50] marlitas commented on #98
I shortened the distance between cups to remove the pencil overlap on the controls.

It now looks like this:
<img width="915" alt="Screen Shot 2022-08-26 at 8 50 25 AM" src="https://user-images.githubusercontent.com/42476338/186932169-5eddefb7-9467-44f1-9264-62aac3d16482.png">

[2022-08-26 15:10] amanda-phet commented on #98
I was going to suggest just that! I was thinking it would also help with the 3D cups and making that table narrower. I'll take a look and then close this.

[2022-08-26 15:12] #98 closed

[2022-08-26 15:24] amanda-phet commented on #101
I made the line slightly darker and I think it works well. Can you change it to #85BBCC?

[2022-08-26 15:55] amanda-phet commented on #60
I thought we decided we were ok with 0-based indexing, too. We use it in Natural Selection for the bunnies (something like bunny_0), but maybe in that case it makes sense because it's the "initial" bunny. In this case we are talking about such a small number of cups that maybe we should move ahead with using natural numbers 1-7 for the cups.

[2022-08-26 16:12] amanda-phet commented on #33
I made a few edits, and also commented out a paragraph that I think is a little confusing and not necessary. I'll discuss with @marlitas what to do about that paragraph.

[2022-08-26 16:42] amanda-phet commented on #33
I made one edit to that paragraph.

Over to @marlitas to confirm if it all looks ok.

[2022-08-26 16:45] pixelzoom commented on #60
In Natural Selection, bunnies are created dynamically.  They are not numbered in the UI, and clients are unlikely to ever inspect the elements under `model.bunnyCollection` in Studio.  So the numbering is unimportant, and we used 0-based numbering (which is sort of the default when you're programming :)

In Fourier, we used 1-based numbering because the harminonics are specifically numbered in the

[2022-08-26 19:00] marlitas commented on #44
I have converted all the instances of `.addChild` to a `chlidren:` implementation, that made sense in the context and capabilities of each file.

@pixelzoom, can you review and close if all seems good?

[2022-08-26 19:02] marlitas commented on #58
UI chunks have been factored out, and controls have been moved to `IntroScreenView` rather than `MeanShareandBalanceScreenview`.

@pixelzoom, can you take a look and close if all looks good?

[2022-08-26 19:07] marlitas commented on #101
Color changed! Here's a screenshot. @amanda-phet let me know if there is any additional feedback or changes, if not feel free to close.
<img width="1102" alt="Screen Shot 2022-08-26 at 1 04 29 PM" src="https://user-images.githubusercontent.com/42476338/186974602-04a921fe-2129-480a-bba3-18a96e714aa6.png">

[2022-08-26 19:12] marlitas commented on #33
Looks great. I added a couple of commas, but other than that looks good to me. Closing.

[2022-08-26 19:12] #33 closed

[2022-08-27 21:12] pixelzoom commented on #99
Note that this is also preventing calls to (eg) `naturalSelectionStrings.addMutationProperty.value`, see https://github.com/phetsims/chipper/issues/1314.  That's not at all acceptable.  These are instances of `TReadOnlyProperty<string>`, and any of its API calls (include `link` and `get value`) should be usable.

[2022-08-29 14:44] pixelzoom opened #103 "Omit options that a subclass is responsible for"
Notices while reviewing #44 ...

There are a number of places where Nodes are responsible for setting `children` and other options.  Those options should be omitted from the superclass options.

Here are the ones that I notices, possibly not a complete list:

- [x] SyncButton.ts:  omit 'children' | 'baseColor' | 'accessibleName' from RectangularPushButtonOptions? `children` certainly should not be

[2022-08-29 14:44] pixelzoom commented on #44
Looks good overall.  But there are a few places where `'children`' needs to be omitted from options, see https://github.com/phetsims/mean-share-and-balance/issues/103.

Closing.

[2022-08-29 14:44] #44 closed

[2022-08-29 16:09] pixelzoom commented on #58
This looks like a step in the right direction.

But I think there's value in factoring out more component classes from IntroControlPanel, for 3 reasons:
(1) It will add encapsulation that makes those "chunks" of the UI easier to understand and maintain.
(2) It will make IntroControlPanel easier to read and maintain.
(3) Having the class hierarchy match the tandem hierachy makes PhET-iO instrumenta

[2022-08-29 16:10] amanda-phet commented on #101
@catherinecarter what do you think?

[2022-08-29 16:12] amanda-phet commented on #60
Let's use 1-based numbering for the cups/plates etc. in this sim.

[2022-08-29 16:13] amanda-phet commented on #18
@kathy-phet should also weigh in, but that seems fine to me.

[2022-08-29 16:28] pixelzoom opened #104 "questionBarText should be questionBarTextProperty"
In MeanShareAndBalanceScreenView.ts:

[code]

`questionBarText` violates PhET naming conventions. It should be `questionBarTextProperty`.

[2022-08-29 17:08] marlitas commented on #103
Went through all implementations I could find of subclass setting parent options. @pixelzoom can you review, and close if all looks good?

[2022-08-29 17:14] pixelzoom commented on #103
👍🏻 closing

[2022-08-29 17:14] #103 closed

[2022-08-29 17:31] samreid commented on #18
@marlitas and I collaborated on this and got past many issues, but it's still not fully working because the spinner doesn't want to allow values outside its range:

<details>

[code]

</details>

The main hassles were:
* Changing mean from number to number OR null.  This complicates the implementation as well as client usage API. (Clients have to check whether the value is defined or not).
* Hidin

[2022-08-29 19:40] catherinecarter commented on #101
I like it. The color is similar enough to make it look like a water line, but different enough that it's easier to see when the mean water line is above the initial water line. I played around with it in PhET Test, and I think it's really nice.

[2022-08-30 17:57] marlitas opened #105 "Can we use the same people art as Center-and-variability?"
@samreid and I looked through the `playerStanding` pngs in Center and Variability, and they look very similar to the people in the Leveling Out Screen mockup. Can we use the same art and just copy them over?

Here are some examples of the people:

<img width="275" alt="Screen Shot 2022-08-30 at 10 55 36 AM" src="https://user-images.githubusercontent.com/42476338/187509117-9e8d58db-344a-4cc5-99bb-e

[2022-08-30 17:58] marlitas commented on #105
@amanda-phet We also noticed they face in different directions, but that is very easy to fix in code.

[2022-08-30 18:59] amanda-phet commented on #105
Yes! I was planning to reuse those people. I might use slightly different stances, so let me review the different iterations that we have and pick 7 for this sim.

It's very easy for me to flip the artwork to face either direction, so we can decide what we like best and do that- person to the left or to the right of their plate.

[2022-08-30 19:00] amanda-phet commented on #101
Thanks! Closing.

[2022-08-30 19:00] #101 closed

[2022-08-30 19:38] marlitas commented on #105
Okay great. We'll hold off on implementing that artwork until then. Would you want it to be the same person associated with each place in line, or have that be random?

[2022-08-30 19:54] amanda-phet commented on #105
I think it is simplest to keep the same people in positions 1-7 every time you use the sim.

[2022-08-31 20:26] jonathanolson commented on #99
This should be handled in https://github.com/phetsims/chipper/issues/1314, can you verify?

[2022-08-31 22:49] KatieWoe commented on #99
Looks ok in master, but master is pretty empty so I'll wait to close.

[2022-09-01 21:15] pixelzoom commented on #99
I confirmed that https://github.com/phetsims/chipper/issues/1314 is fixed. Back to @marlitas in case she has workarounds like https://github.com/phetsims/chipper/issues/1314#issuecomment-1229267567 that need to be removed.

[2022-09-02 20:57] amanda-phet commented on #105
Here are some people to use! The artboards are the same width and should have the people aligned so you can put them all in the same places with respect to the plates, but their heights vary. Let me know if you have any issues and I'll try to figure it out.

![person-01](https://user-images.githubusercontent.com/7852916/188234153-53d4e294-a406-4a59-a808-135faf598475.png)
![person-02](https://user-

[2022-09-06 17:01] marlitas commented on #105
All the people art is added in. Sending back to @amanda-phet for feedback. Feel free to close if all seems well with the placement and look of the people art.

[2022-09-06 17:04] marlitas commented on #60
All indexing is now 1-based for PhET-iO. Sending back to @amanda-phet  and @pixelzoom  for review and feedback.

[2022-09-06 17:07] pixelzoom commented on #60
I inspected the Studio tree. It looks great to me!

[2022-09-06 19:01] marlitas commented on #104
Fixed in the above commit. Closing.

[2022-09-06 19:01] #104 closed

[2022-09-07 19:15] samreid opened #106 "Allocation of chocolate bars"
In https://github.com/phetsims/mean-share-and-balance/issues/60 @pixelzoom said:

@marlitas and I have discussed using the same static allocation for the chocolate bars.  We got such a big benefit from this strategy on the water screen and we thought it would be OK here as well. It seems the main distinguishing factor is the number of items, but I don't think that needs to be the deciding factor.

[2022-09-07 19:17] pixelzoom commented on #106
How many chocolate bars are there?

[2022-09-07 19:19] samreid commented on #106
I believe it maxes out at 7 people * 10 bars each = 70.  (Just talking about the chocolate in the "top representation" paper at the moment).

[2022-09-07 22:03] pixelzoom commented on #106
70 still seems like a fine number to allocated statically.  I'd make sure they are under a "chocolateBars" tandem, so that they can be collapsed and won't obscure other elements.

You might consider grouping pipes, 2Dcups, and 3Dcups under a parent tandem similarly.

[2022-09-14 00:18] marlitas commented on #102
I added in the artwork for the notebook paper and table. Below are screenshots of what that's looking like:
<img width="1261" alt="Screen Shot 2022-09-13 at 4 06 22 PM" src="https://user-images.githubusercontent.com/42476338/190024750-30d94ef5-26c8-4624-bb06-6ffeda9a3d9b.png">
<img width="1261" alt="Screen Shot 2022-09-13 at 4 06 28 PM" src="https://user-images.githubusercontent.com/42476338/19002

[2022-09-14 22:09] marlitas opened #107 "Mean Calculation Dialog"
This issue is tracking the creation and implementation of the Mean Calculation Dialog box.

[2022-09-14 22:11] marlitas commented on #107
There are curious layout issues with the dialog. This patch allows the dialog to center with the other screen view elements, and is the beginning of an exploration into making a minimum height work.

<details>

[code]
</details>

[2022-09-14 22:14] marlitas commented on #76
@jessegreenberg and I worked on this last week and were able to get the traversal order and focus highlighting to work as discussed in a meeting with @amanda-phet. Sending back to @amanda-phet for feedback.

[2022-09-14 22:15] marlitas commented on #47
I believe I corrected pdomOrder specification in the commits in: https://github.com/phetsims/mean-share-and-balance/issues/76

@pixelzoom can you review and provide feedback?

[2022-09-14 23:10] samreid commented on #107
I added better support for minHeight in Panel

<details>

[code]

</details>

But the dialog layout doesn't like it (note the close button):

<img width="1139" alt="image" src="https://user-images.githubusercontent.com/679486/190278534-aaeb15d8-8861-46ca-90fe-1a02a1d5a7b4.png">

So even though we may want to commit this change for future Panels, we may want to set the minWidth/minHeight on the dia

[2022-09-15 00:04] samreid commented on #107
I embedded the GridBox in a Panel, and added support for `minHeight` for the panel.

[2022-09-15 21:59] KatieWoe opened #108 "CT Fatal error: There is an issue with the licenses for media types and There is no top chocolate on plate since active chocolates is: 0"
[code]

[2022-09-15 22:31] pixelzoom commented on #47
Delete this line in MeanShareAndBalanceScreenView.ts, it looks vestigial:

Make this change in IntroScreenView.ts:

[code]

[2022-09-15 23:01] marlitas commented on #47
Fixed in above commit. Closing. Thanks @pixelzoom!

[2022-09-15 23:01] #47 closed

[2022-09-16 00:09] marlitas commented on #108
Pushed a couple of commits addressing this, and I found the source of the error. The assertion error happens because we were not adjusting chocolates on a plate when removing a person that has more or less chocolates than their declared number.

The above commit seems to work well when someone has too many chocolates and is removed. However, when a person has too few chocolates, for some reason th

[2022-09-19 15:04] marlitas commented on #108
This has been addressed in the above commits, and no longer seeing this error on CT. Closing.

[2022-09-19 15:04] #108 closed

[2022-09-19 15:46] Nancy-Salpepi opened #109 "Can no longer press and hold to change number of cups"
**Test device**
MacBook Air m1 chip

**Operating System**
12.5.1

**Browser**
safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/835, I can't press and hold to change the number of cups, unlike in earlier versions of the sim.

**Visuals**

https://user-images.githubusercontent.com/87318828/191058334-e068afbf-f525-47d6-8931-c0172ebad2a9.mp4

<details>
Troubleshooting i

[2022-09-19 16:23] Nancy-Salpepi opened #110 "2D cups off center"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/835, the cups aren't centered on the notebook paper. The 2D cups are loser to the right side. Perhaps, the shadow on the right was taken into account?

**Visuals**
<img width="779" alt="Screen Shot 2022-09-19 at 12 17 17 PM" src="https

[2022-09-19 16:28] KatieWoe commented on #110
I also noticed that they looked off center on the table, but that seemed to be because the arrow was also taken into account with the cup width.

[2022-09-19 16:43] Nancy-Salpepi opened #111 "Water level lines blend in with notebook paper"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/835, the line color for the cup water levels and the lines on the paper are very similar in color. It is easy to miss that the water level lines are even there--especially since the default amount of 1/2 cup is exactly where the paper

[2022-09-19 16:47] stemilymill opened #112 "Blurry cup outlines when zoomed out"
For https://github.com/phetsims/qa/issues/835

Observed on multiple devices.

When the sim is zoomed out, the outlines of the 3d cups seem blurry/pixelated, being most obvious on the cup rim. This remained the same when I changed the window size. When zoomed in, the cup outlines are very crisp.

Visuals

Blurry when zoomed out
![3d cups blurry lines](https://user-images.githubusercontent.com/85511

[2022-09-19 17:58] Nancy-Salpepi opened #113 "It looks odd when closing pipes"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/835:
 When I toggle the pipes closed, the water levels in the 2D cups immediately sync with the levels in the 3D cups, but the valve is still slowly turning. Is there a way for these two actions to match up better?

**Visuals**

https:

[2022-09-19 18:30] Nancy-Salpepi opened #114 "table looks like it is missing legs with narrow window size"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/835, if I narrow the window size, space is added between the table top and the bottom nav bar of the sim making the table look odd. I compared this to Energy Forms and Changes, which also has objects on a table top. There, space was on

[2022-09-19 19:19] Nancy-Salpepi opened #115 "Prediction line doesn't show up clearly in screenshot"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/835, screenshots don't properly depict the prediction line. It appears as a light gray line.

**Visuals**

<img width="691" alt="Screen Shot 2022-09-19 at 3 18 21 PM" src="https://user-images.githubusercontent.com/87318828/191097885-fb

[2022-09-19 20:12] marlitas commented on #110
@amanda-phet I would like to get your input on this before moving forward.

- I remember we talked about removing one or both of the red lines... if that's the case do we still want the cups to center on the paper without including the shadow? Right now both the cups and the paper are centered on that play area, but I can shift one or both over to compensate for the shadow portion.
- Would you lik

[2022-09-20 15:00] KatieWoe opened #116 "CT Incorrect Tandem suffix"
[code]

[2022-09-20 22:15] KatieWoe commented on #29
This is already closed, but I wanted to note that some change in https://github.com/phetsims/qa/issues/835 seems to have removed this slowness entirely.

[2022-09-21 21:31] KatieWoe opened #117 "Prediction control placement in focus order"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/835
I noticed that the control for the prediction line is after all the checkboxes and the add/remove cup controls. This makes some sense since you need to add it with a checkbox and you may want to be after that box in ordering, but visually it is a bit odd since t

[2022-09-21 23:27] marlitas commented on #58
Intro Control Panel components have been factored out in the above commits. They are a couple of things I like and a couple of things I don't like as much about this.

pros:
- IntroControlPanel is very easy to read and distinguish what components make up the node
- Factoring out makes IntroControlPanel easier to reuse for other screens, and potentially reduce duplication
- IntroOptionsCheckboxGrou

[2022-09-21 23:31] marlitas commented on #99
Confirmed this workaround was removed. Closing.

[2022-09-21 23:31] #99 closed

[2022-09-22 17:29] marlitas commented on #116
This looks fixed in CT. Closing.

[2022-09-22 17:29] #116 closed

[2022-09-23 01:03] pixelzoom commented on #58
There's really no reason to use a VBox here, or expose it in Studio.  Here's the current Studio tree structure, which doesn't look right to me:

<img width="358" alt="screenshot_1882" src="https://user-images.githubusercontent.com/3046552/191875262-bdc92805-e964-49d0-b0e4-83deb60ba2ec.png">

Here's what I expected to see in the Studio tree:

<img width="281" alt="screenshot_1883" src="https://user

[2022-09-23 01:14] pixelzoom commented on #58
The goal is not to have "smaller and smaller classes".   The goal is to have break things into logical pieces that match what you see in the user interface, and that match the desired Studio tree structure.

[2022-10-05 13:39] marlitas commented on #117
@amanda-phet what are your thoughts on this? I know we briefly discussed and in the moment it made sense to place the prediction line after all the checkboxes, but if this is a confusing UX perhaps we need to change it?

[2022-10-05 21:36] marlitas commented on #113
I pushed a commit that adds animation to the water levels when pipes close. This seems to match better.

However, I noticed the water levels still snap with `reset-all` but the pipes are animating to a closed position. I'm assuming we would want this to match as well, but I wasn't sure if we want both the pipes and water levels to snap to their original positions during reset all, or if we want it

[2022-10-06 17:16] KatieWoe opened #118 "CT reentry detected, value=1.0534356008388628, oldValue=1.0804753024681668"
[code]

[2022-10-07 15:30] marlitas commented on #112
This is caused by aliasing by the browser. We are already using SVG, and @samreid and I don't think there is anything we can or should do about this. We tried `renderer: 'canvas'` and it looks about the same. We do not want to use a png ( or mipmaps ) to render these, because it is preferable to use code and vector graphics. Perhaps one day browsers will do better at anti-aliasing and rendering cu

[2022-10-07 15:30] #112 closed

[2022-10-07 23:30] marlitas commented on #115
This was a scenery issue that was addressed in the above commit. @Nancy-Salpepi can you confirm that this is behaving as expected?

[2022-10-08 01:13] marlitas commented on #109
Change applied in the above commit. @Nancy-Salpepi can you confirm this is fixed?

[2022-10-08 13:28] Nancy-Salpepi commented on #115
looks good on master @marlitas!

[2022-10-08 13:31] marlitas commented on #115
Great, thanks! Closing.

[2022-10-08 13:31] #115 closed

[2022-10-09 12:11] Nancy-Salpepi commented on #109
Looks good on master @marlitas! Sorry I missed this issue yesterday! I don't know why I didn't see it.

[2022-10-10 15:24] marlitas commented on #109
No worries! Thanks for checking back. Closing as completed.

[2022-10-10 15:24] #109 closed

[2022-10-10 16:01] marlitas commented on #118
This has been addressed and is no longer appearing on CT. Closing.

[2022-10-10 16:01] #118 closed

[2022-10-10 16:03] marlitas commented on #107
All that remains for this seems to be pixel polishes from designers which can be track in a separate issue when they come up. Closing.

[2022-10-10 16:03] #107 closed

[2022-10-10 16:22] samreid opened #119 "PhET-iO naming for the different representations"
We need to decide on the phet-io naming for the different representations in each screen.  We currently have:

* (screen 1) Water cup 3d -> water cup 2d
* (screen 2) Person -> Plate Chocolate (should at least be changed to paperChocolate).

@marlitas and I will take a first look, then ask for feedback from @amanda-phet and @kathy-phet

[2022-10-10 16:39] kathy-phet commented on #119
Could take on an original / raw / initial data vs analyzed data naming convention.
e.g. waterCupsInitialData vs waterCupsAnalyzedData (don't love it, but do favor this kind of naming over something visually specific)

[2022-10-10 16:52] kathy-phet commented on #119
What about raw data?

chocolateBarRawData
chocolateBarAnalyzedData

[2022-10-10 16:53] kathy-phet commented on #119
I like starting with the word chocolateBar or cookies ... because then they are proximate and connected better in the studio tree.

[2022-10-10 17:04] marlitas commented on #119
My concern with relying on chocolateBar or Cookies is that it's difficult to distinguish if we're talking about the chocolate bar stack or the individual chocolate bar in a stack. We could perhaps say `chocolateBarStackRawData`... does that work for cookies too?

But then is that inconsistent with the first screen? The container here is the cup so we are referencing the container `cupRawData` inst

[2022-10-10 19:01] marlitas commented on #94
This screen and toggle state has been discussed in many design meetings. No new feedback, so closing as completed. Feel free to re-open if something comes up!

[2022-10-10 19:01] #94 closed

[2022-10-10 19:25] catherinecarter opened #120 "Notebook paper lines and water reference lines are hard to distinguish"
On the water screen, when the 3D cups are set and the share button to open valves is activated, the 2D cups level themselves to the mean. The reference lines on the 2D cups (cup water level) to show where the water level is in the 3D cups is blending in with the notebook lines in the background.
<img width="715" alt="image" src="https://user-images.githubusercontent.com/109630002/194938633-970fe7e

[2022-10-10 19:25] marlitas commented on #114
Hmmm... So I implemented the same functionality that energy forms and changes has to this screen and I'm not sure I'm a fan... maybe because we have a paper representation in the upper portion of the play area that is very different to Energy Forms and Changes.

I keep having issues with github allowing me to upload videos so I will send this through Slack/Try again in an hour.

[2022-10-10 20:32] amanda-phet commented on #120
I agree this is problematic... Ugh. Not sure what to do! I'm starting to think the notebook lines are doing more harm than good. I know we discussed changing the line spacing to line up with the tick marks, but this issue seems like it would still need addressing. I might want to try notebook paper with no lines and see how that feels.

[2022-10-10 20:33] amanda-phet commented on #114
Maybe we could ask Mariah to provide a full desk for the artwork.

[2022-10-10 21:52] marlitas commented on #114
@amanda-phet I sent you the videos through Slack. I also wanted to put my comments from Slack here so that we can keep a record of them.

[2022-10-10 22:38] marlitas commented on #114
The videos uploaded! Here they are:

https://user-images.githubusercontent.com/42476338/194962415-a3848793-6c3d-471e-b557-8a4134f35589.mov

https://user-images.githubusercontent.com/42476338/194962444-b314e21b-8bb3-418c-a3c4-4a289501c020.mov

[2022-10-11 15:27] KatieWoe opened #121 "CT Build failed with status code 1:"
[code]

[2022-10-11 17:47] amanda-phet commented on #114
Thanks for uploading these videos and our conversation. Here is more:

I agree with Marla- either the infinite rectangle approach, or just have a desk that could possibly look like it's floating if the window is extremely narrow (such as a vertical phone or iPad).

For now, @marlitas could you keep the "infinite rectangle" on master so I can play with it a bit?

[2022-10-11 18:36] amanda-phet commented on #120
Looks like this is a duplicate of https://github.com/phetsims/mean-share-and-balance/issues/111 so I"ll put my comment there and close this.

[2022-10-11 18:36] #120 closed

[2022-10-11 18:37] amanda-phet commented on #111
I commented in a duplicate issue:

I will need to think about what to do here, because the water level line should be blue. I think changing the paper is going to be part of the solution.

[2022-10-12 15:05] marlitas commented on #121
This looks to be fixed in a commit from yesterday in: https://github.com/phetsims/mean-share-and-balance/issues/52 . Closing

[2022-10-12 15:05] #121 closed

[2022-10-12 17:18] marlitas commented on #119
Here is a sketched out tandem tree for the first three screens for some of the proposals from above. I tried to combine them as best I could.

I did run into a quirk with Fair Share. I had been differentiating chocolate stacks and bars with `chocolateStackRawData` and `chocolateBarRawData`, however `cookieBarRawData` sounds weird... so perhaps just `cookieRawData`? I'm not sure. But this should at

[2022-10-12 18:28] marlitas commented on #114
@amanda-phet the "infinite rectangle" is on master so should be good to go for you to mess with it and see what you think. I'm going to assign you to this issue as well so that it's on our radar for next week.

[2022-10-17 15:11] amanda-phet commented on #113
Discussed 10/17/22 and we decided to not have animations on reset-all, so the valves just snap back into place in that case.

As for the animation issue, I am OK with the pipe connectors not changing color in a realistic way, and like the animation @marlitas added when animating to a closed position.

[2022-10-17 15:47] amanda-phet commented on #110
Discussed 10/17/22 and we're going to revise the paper artwork to address this and https://github.com/phetsims/mean-share-and-balance/issues/111, and we are going to nudge thing around so they look more centered.

I'll leave this assigned to me to deliver new artwork.

[2022-10-17 15:47] amanda-phet commented on #111
Discussed 10/17/22 and we're going to try removing the lines that intersect with the cups so there is no interference.

[2022-10-17 15:59] amanda-phet commented on #76
Discussed 10/17/22 and we think the predict line should be in the tab order just after the valves and just before the "predict mean" checkbox. This way, the tab order for the prediction line is in a more logical place for predicting and then opening the valves. We also think it's a good user experience to check the box, then use shift+tab to go back and interact with the new element.

[2022-10-17 17:21] marlitas commented on #58
With the patch added in and issue addressed I am closing as completed. Thanks for all the feedback @pixelzoom!

[2022-10-17 22:31] pixelzoom commented on #58
I should also have noted... PhET-iO unfortunately has a lot of influence on how code is structured, precisely because it exposes the code structure.  And in many cases, it requires a structure or approach that is definitely _not_ the best choice for general software design or best practices.  So I share your sentiments, and wish that I could design software without so much influence from PhET-iO r

[2022-10-18 14:10] marlitas commented on #117
This is discussed in the issue: https://github.com/phetsims/mean-share-and-balance/issues/76

We decided to move the predictMeanSliders placement in the traversal order so that it comes at the end of the play area. Closing as completed in https://github.com/phetsims/mean-share-and-balance/issues/76 commits.

[2022-10-18 14:10] #117 closed

[2022-10-18 14:11] #76 closed

[2022-10-18 19:13] marlitas commented on #102
@amanda-phet I saw a partyTable.png was added to images. I added that to the licenses json to avoid CT errors, and wanted to confirm that the artist is Mariah Hermsmeyer

[2022-10-19 16:50] samreid commented on #119
@marlitas and I considered this renaming:

<img width="367" alt="image" src="https://user-images.githubusercontent.com/679486/196754305-2c1f0d9d-60d2-42c7-ac04-fafb037bdac6.png">

[2022-10-19 16:54] samreid commented on #119
We kind of liked this:

<img width="310" alt="image" src="https://user-images.githubusercontent.com/679486/196755271-e8089afb-dd3e-4f9b-8d03-62cdb1a584da.png">

[2022-10-20 15:08] marlitas commented on #102
I referenced the wrong issue in the above commits "Expand no-simple-type-checking-assertions regex". The correct issue is: https://github.com/phetsims/chipper/issues/1344

[2022-10-27 18:55] marlitas commented on #102
@amanda-phet I wanted to check and see if there are any other lines in the paper area you would like to look like pencil strokes? I switched the 2D cup strokes and pipe strokes to the pencil pattern you provided, but was unsure if you wanted something similar for the meanLine, waterLine, and tickMarks (in their respective colors).

Here is a screenshot showing the current state as it is now:
<img

[2022-10-27 19:02] marlitas commented on #119
Wanted to put eyes back on this for @kathy-phet and @amanda-phet. I feel ready to convert tandem names based on the recommendation in https://github.com/phetsims/mean-share-and-balance/issues/119#issuecomment-1284310974. How does this feel? It would be good to settle on a naming convention before we start the "Fair Share" screen.

[2022-10-27 19:04] marlitas commented on #113
These changes were added in and is ready to send back to QA. @amanda-phet tagging you also in case you want to confirm that this is behaving as expected.

@Nancy-Salpepi how is this looking on your end with the changes and concerns addressed above?

[2022-10-27 20:14] Nancy-Salpepi commented on #113
I love the animation to the water levels when closing the pipes @marlitas!
The pipes now snap back into place on Reset All. Looks good! 🙂

[2022-10-27 23:58] kathy-phet commented on #119
I like the naming convention for cups.

So what would the other screens be?
cookiePlate1
cookieSketch1

chocolatePlate1
chocolateSketch1

or
plate1
plateSketch1

if its just plate then screen 2 and 3 will have the same naming convention.

[2022-10-28 03:00] marlitas commented on #119
I think going the plate1 / plateSketch1 route would be best. Here's a screenshot of what that could look like in the Leveling Out screen.
<img width="369" alt="Screen Shot 2022-10-27 at 8 51 22 PM" src="https://user-images.githubusercontent.com/42476338/198485936-4c3c9425-8195-485e-b2a4-17a1d85eca63.png">

[2022-10-28 15:22] marlitas commented on #113
Great. Thanks for checking it out! I'm going to close this as completed.

[2022-10-28 15:22] #113 closed

[2022-10-28 15:26] marlitas commented on #60
The changes in this issue have been applied for a while with no additional feedback. Therefore, closing as completed.

[2022-10-28 15:26] #60 closed

[2022-11-01 15:42] marlitas commented on #102
@samreid and I met with @mariahmaephet today and were able to add in the notepad artwork with a combination of code and png. Here's a screenshot of what it's looking like. Personally I think it's fun without being distracting. @amanda-phet let me know your thoughts. We are going to be pushing forward with an RC for this in the coming week.

<img width="1260" alt="Screenshot 2022-10-31 at 10 24 50

[2022-11-01 19:09] KatieWoe commented on #110
The 3D cups are also seemingly off center on the table. Should this be looked at as well? For https://github.com/phetsims/qa/issues/848
<img width="587" alt="offsides" src="https://user-images.githubusercontent.com/41024075/199317963-ea112663-7755-47bd-9bf4-95d3b66e1760.png">

[2022-11-01 19:42] marlitas commented on #110
I think when we looked at this we thought the centering on the table was fine but now I'm questioning if I'm remembering correctly? @amanda-phet thoughts?

I think bringing this up for https://github.com/phetsims/qa/issues/848 is reasonable, especially if it feels off center from the top as well.

[2022-11-02 17:43] Nancy-Salpepi opened #122 "artifacts seen with latest macOS + safari"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0

**Browser**
Safari 16.1

**Problem description**
https://github.com/phetsims/qa/issues/848
I am noticing artifacts when changing water levels. Going back to earlier dev versions, I see them there too. On my mac desktop, macOS 10.15.7 + safari 15.6.1, I don't see them. Thus, it seems due to this newest version of MacOS + safari

[2022-11-02 17:48] Nancy-Salpepi commented on #114
@marla the changes you made to the desk look really good in 1.0.0-rc.1!

[2022-11-02 18:14] Nancy-Salpepi opened #123 "Water Level Arrow location seems off"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0

**Browser**
Safari 16.1

**Problem description**
For https://github.com/phetsims/qa/issues/848, the location of the water level arrows seems off.

Here they are in the last dev test:

<img width="242" alt="Screenshot 2022-11-02 at 1 58 13 PM" src="https://user-images.githubusercontent.com/87318828/199566891-c3830eb6-5aa6-4808-

[2022-11-02 18:24] Nancy-Salpepi opened #124 "Interactive highlight changes size"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0

**Browser**
Safari 16.1

**Problem description**
For https://github.com/phetsims/qa/issues/848, the interactive highlight around a valve changes size when the valve is open and closed. This doesn't happen when using the keyboard.

**Steps to reproduce**
1. Turn on interactive highlights
2. Open and close a valve

**Visuals**

[2022-11-02 20:09] Nancy-Salpepi commented on #110
They might not be centered on the table, but they are perfectly aligned with the 2D cups above. Moving them might make things looks more off.

[2022-11-02 20:55] marlitas commented on #114
@Nancy-Salpepi that's great to hear! That sounds like this issue is ready to close then. @amanda-phet feel free to re-open if you have other thoughts.

[2022-11-02 20:55] #114 closed

[2022-11-02 21:25] marlitas commented on #123
@Nancy-Salpepi This should be corrected on master now, can you confirm? Will mark for cherry-pick if all looks good.

[2022-11-03 11:55] Nancy-Salpepi commented on #123
Looks good on master @marlitas!

[2022-11-05 16:02] Nancy-Salpepi opened #125 "Interactive highlight can disappear"
**Test device**
iPad 9th generation

**Operating System**
iPadOS 16

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/848, when moving the pencil or water level arrow up and down repeatedly, the interactive highlight sometimes disappears. I was able to produce this on 2 different ipads (both with the latest iOS).

**Steps to reproduce**
It isn't that easy to re

[2022-11-07 17:49] marlitas commented on #122
Here's a patch that might not work:

<details>

[code]
</details>

[2022-11-07 17:50] marlitas commented on #122
@Nancy-Salpepi  We pushed up a solution to master. Can you check on your end that this has fixed artifacts in Safari? Thanks!

[2022-11-07 18:53] Nancy-Salpepi commented on #122
I wasn't able to produce any artifacts with mac/iPad + safari on master.

[2022-11-07 19:37] marlitas commented on #122
Great. I'll keep this open for the next RC round so we can keep an eye on the behavior. Marking this for cherry picking.

[2022-11-08 19:38] jessegreenberg commented on #124
This is caused by this line:

[code]

If we don't like the look of this we can create a different highlight. There are a few ways to do that and we can decide what looks best, @marlitas and I are meeting this afternoon to improve it.

[2022-11-08 20:32] jessegreenberg commented on #125
This looks like a general problem with `touchSnag`. An easy way to reproduce this problem is to put your finger down to the right of the pencil, then drag your finger over it. Then drag your finger back to the right. The pencil will still be dragged but the highlight will not stay around it.

[2022-11-08 23:26] marlitas commented on #124
This was fixed in the above commit and should be on master. @Nancy-Salpepi can you double check?

[2022-11-08 23:38] jessegreenberg commented on #125
I believe this is fixed from the above commit, @Nancy-Salpepi would you mind confirming?

[2022-11-09 12:52] Nancy-Salpepi commented on #124
Looks good on master @marlitas!

[2022-11-09 13:22] Nancy-Salpepi commented on #125
I was no longer able to reproduce this issue @jessegreenberg.

[2022-11-09 15:45] marlitas commented on #125
Awesome. Thanks all! Marking for cherry-pick and keeping open for the next RC.

[2022-11-09 16:41] jessegreenberg commented on #125
Sorry, I believe there is a problem from this change. @KatieWoe reported some sims are failing from multitouch fuzzing. There may be another commit to cherry-pick.

[2022-11-09 16:55] amanda-phet commented on #102
The style of the notebook looks good to me. I think we should use more spiral loops, though. Can you use 8 instead of 6?

![image](https://user-images.githubusercontent.com/7852916/200892394-e87e64f0-8057-4588-8da1-45797b6a6e96.png)

[2022-11-09 16:58] amanda-phet commented on #102
I also want to note that I'd like a softer color for the paper and not pure white. Did you try #F0F0F0? That's what the paper was previously.

[2022-11-09 17:01] marlitas commented on #102
@amanda-phet we can definitely make these changes. Do you want these changes to be included in the prototype for the Intro Screen, or just as we move forward?

[2022-11-09 21:16] jessegreenberg commented on #125
Should be fixed with the above commit. Id like to make sure that CT is clear before reassigning back for cherry-pick.

[2022-11-09 22:31] marlitas commented on #102
On Slack:
@amanda-phet

@marlitas

[2022-11-09 22:32] marlitas commented on #102
Those changes are applied and pushed up. @amanda-phet can you confirm this change or not? If yes, I can mark this for cherry-pick for RC 2.

[2022-11-10 00:56] jessegreenberg commented on #125
I am sorry to see this is still a problem on CT. This needs a bit more effort I am afraid. I am going to revert the changes above and create a new issue in scenery to investigate. In the meantime I would recommend publishing the prototype with this issue and not letting it get blocked by this. @marlitas feel free to confirm that is OK though with someone on design.

[2022-11-10 05:43] samreid commented on #125
@jessegreenberg recommendation in https://github.com/phetsims/mean-share-and-balance/issues/125#issuecomment-1309616678 seems reasonable to me.  Also, in https://github.com/phetsims/scenery/issues/1495 @jessegreenberg said:

But I do not see the revert commit, or any commit referenced after https://github.com/phetsims/mean-share-and-balance/issues/125#issuecomment-1309616678

[2022-11-10 14:31] jessegreenberg commented on #125
Thanks! Sorry, failed to push.

[2022-11-11 16:25] amanda-phet commented on #125
Prototypes can definitely have this kind of behavior present, so I am fine with moving ahead with the prototype.

[2022-11-11 17:29] marlitas commented on #122
@samreid and I decided to revert the commit that fixes this issue, since a general fix is on it's way from @jonathanolson.

[2022-11-11 19:44] KatieWoe commented on #102
Looks good in rc.2. Closing

[2022-11-11 19:44] #102 closed

[2022-11-11 20:22] KatieWoe commented on #123
Looks good in RC 2

[2022-11-11 20:22] #123 closed

[2022-11-11 20:30] KatieWoe commented on #124
Looks good in RC 2

[2022-11-11 20:30] #124 closed

[2022-11-11 21:08] KatieWoe opened #126 "Water arrow sliders visible in screenshot"
**Test device**
Samsung
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/851. Did not seem to occur in RC.1. When taking a screenshot with the PhET menu, the slider line that the water control arrows are on are visible.

**Visuals**
![Mean_ Share and Balance screenshot](https://user-images.githubusercontent.com/41024075/201430929-d88a

[2022-11-11 21:40] Nancy-Salpepi commented on #126
Seen on mac + safari as well. Not present in rc.1

[2022-11-11 21:46] KatieWoe commented on #126
It also happens in the Game Up/Snap Thought harness screenshots.

[2022-11-14 16:09] marlitas commented on #126
Uhoh. I thought I was being clever when fixing https://github.com/phetsims/mean-share-and-balance/issues/123. I removed stuff I thought was no longer needed, but obviously was wrong. Fix should be pushed up now.

[2022-11-14 20:52] Nancy-Salpepi commented on #126
This looks fixed in rc.3 spot check! Closing.

[2022-11-14 22:03] marlitas commented on #122
@Nancy-Salpepi we reverted the commit that fixed this for the RC since a maintenance fix will be needed for all sims. I will double check that commit got reverted on master too.

[2022-11-16 16:21] marlitas opened #127 "Deployment failure"
@samreid and I were deploying Mean Share and Balance prototype 1.0.0. Everything seemed normal until we received this error message:
[code]

We are unaware of any other git processes that would be happening at this time.

[2022-11-16 16:26] marlitas commented on #127
We found a paper trail here: https://github.com/phetsims/perennial/issues/284

[2022-11-16 17:28] mattpen commented on #127
This looks like a duplicate of https://github.com/phetsims/perennial/issues/284 - can we close this one @marlitas?

[2022-11-18 15:55] marlitas commented on #127
Yes we can! Closing.

[2022-11-18 15:55] #127 closed

[2022-11-29 17:28] samreid opened #128 "Should dropped chocolate bars animate or instant-jump?"
Currently in the Leveling Out screen, a dropped chocolate bar instantly jumps to the target location.  That was easiest to program first and seems like a good user experience.  It seems very clear what is happening and has a "feel" of animation.  However, in other sims, we do show an animation sequence while things fly around.  It would not be trivial to implement and we are uncertain whether that